[2015-02-16 06:42] ladislas commented on #1
this is great and exciting :)

I think we should ditch the "forked from WeAreLeka" and start brand new.

a mention in the read and a link to the original repo is enough for me ;)

[2015-02-17 13:36] jpommerening commented on #1
:+1: Should be as simple as deleting this repo, creating a new one and pushing the clone.

[2015-02-17 22:08] leojrfs opened #1 "Plans"
Just rebased the repo, and going to upgrade some stuff

I will try to add some of those untill the end of the week (maybe borrowed from @jpommerening repo):
- gdb
- binutils
- simulavr
- swig

Want to share/assing some tasks?!
@jpommerening
@ladislas
@larsimmisch

[2015-02-17 22:31] larsimmisch commented on #1
The general question is: how do we want to work on this together? Do we want a dev branch and a master branch? Do we want code reviews? Is there a good way to do code reviews on github?

In general, it is really not quite clear to me how to do useful QA with something like this (the stress is on useful, i.e. QA that solves more problems than it creates)

Basically, for every change, I tested the r

[2015-02-17 22:38] ladislas commented on #1
As for the testing, I do the same.

I always have the most up to date version of OS X on one of my machines, so I can do the testing if needed.

we could also set up a [travis ci](http://docs.travis-ci.com/user/osx-ci-environment/) build to control new pull requests and so on, should not be too hard.

as for the branches, I like to have a `master` branch people can just rely on, a `dev` branch for

[2015-02-17 22:39] leojrfs commented on #1
@larsimmisch , yes, thank you.
Well, @jpommerening was talking about the possibility of integrating travis.
If we can get there, some problems you talked about would disappear.

@jpommerening had to delete the other repo like we agreed on, by doing so your comment and the issues where deleted. Can you extend on what precisely could we solve with travis?

[2015-02-17 22:41] leojrfs commented on #1
@ladislas , we posted almost at the same time :laughing:, anyways, that sounds good `dev` for some explosions and `feature` for some bleeding edge :smile:

[2015-02-17 22:43] ladislas commented on #1
:+1:

[2015-02-17 23:14] jpommerening commented on #1
Yeah so, about that [Travis](travis-ci.org) thing: The easiest setup would be to just install all the things in this repo. That would at least make sure that everything compiles. Also, with Travis we get a clean slate for each new build, so no more forgetting to uninstall every package before testing. Of course this does not solve all QA problems, but _it's something_.

This also helps with the co

[2015-02-17 23:52] larsimmisch commented on #1
@jpommerening

Settings up Travis is probably a good idea. Does Travis understand pull requests?

I know what pull requests are. And they might work ok for a code review tool here. (My experience with them in larger projects is a bit mixed: I very rarely wanted to pull the requests wholesale, most often, I wanted to rework them slightly, and then they look like they aren't accepted when in essence

[2015-05-21 21:20] ladislas opened #4 "Error: dyld: Library not loaded: /usr/local/lib/libisl.10.dylib"
As of today, when I tried compiling my code, I got the following error:

[code]

I `brew remove`d everything and try installing the tool chain again but got an error saying that `ISL` can't be found after trying different versions (I'm sorry I can provide the real error, I closed my terminal window...)

Anyway, after some research it seems that `isl` has been updated in hombrew to `v0.14` which is

[2015-05-28 16:02] larsimmisch commented on #4
I can reproduce this after a `brew update; brew upgrade; brew cleanup`. I'll take a look at it and maybe update gcc while I am at it.

[2015-05-28 19:19] larsimmisch commented on #4
Sigh. gcc 5.1 is problematic; I can't get it to compile, it crashes in `gen-avr-mmcu-specs`.

See https://www.mail-archive.com/gcc-bugs@gcc.gnu.org/msg454439.html and also, related, http://savannah.nongnu.org/bugs/?44869

[2015-05-28 22:42] larsimmisch commented on #4
I have given gcc 5.1 another serious try and I could get it to cross-compile for AVR - but it was not of much use - I couldn't use that `avr-gcc` to compile my test programs.

There is a pretty prominent warning about gcc 5.1 and AVR-LibC in https://gcc.gnu.org/gcc-5/changes.html:

And, to answer @ladislas question: I don't think we _need_ `--with-isl`. It enables some clever loop optimizations, s

[2015-05-28 23:00] #4 closed, assigned to nobody

[2015-05-29 06:59] ladislas commented on #4
thanks @larsimmisch for trying this out! I guess we'll have to wait for `gcc 5.2` then ;)

I agree that ISL is not really needed right now. I'm not an expert, but as far as I understand, it is only useful for very complexe applications that need a lot of optimization. So it might not be really useful for avr...

[2015-06-08 01:59] nixpulvis opened #6 "Could not resolve host: gnu.cardse.net"
Not sure what `gnu.cardse.net` is, but it's not resolving, the mirror does seem to work however.

[code]

[2015-06-08 02:06] nixpulvis commented on #6
The build also fail FWIW.

[code]

EDIT: Second attempt worked, so who knows.

[2015-07-20 16:12] Aaron-Hartwig commented on #6
I have had the same issue, but now after two tries it is still not working. It just freezes up after the `make`.

[code]

[2015-07-20 22:06] leojrfs commented on #6
We should update the formula to 4.9.3 and also make a new one for the 5 series, there has been some nice changes for the avr
https://gcc.gnu.org/gcc-5/changes.html

@Aaron-Hartwig what happens with verbose (-v) output?

[2015-07-21 18:11] Aaron-Hartwig commented on #6
@leojrfs I actually got a successful install. It took ~20 minutes to `make` on the successful run.  To be honest I forgot the process was running and when I looked back it had made progress. So perhaps on my "failed" runs it was really just my impatience (I had only waited ~10 minutes).

[2015-07-21 18:13] leojrfs commented on #6
@Aaron-Hartwig gcc usually takes a quite long time to compile... :smile: when in doubt use the '-v' option

[2015-07-29 16:40] #6 closed, assigned to nobody

[2015-07-29 16:43] leojrfs opened #7 "Stack level too deep on gcc4.8 formula"
can anyone confirm this?

[code]

[2015-08-10 15:49] smammy commented on #7
Yes, and I also get this when trying to install `avr-libc48`:

[code]

[2015-08-10 15:54] ladislas commented on #7
@leojrfs : I think the way we install old versions is not good. It was a hack I found for my personal usage but it's too complicated.

I might be wrong, but homebrew doesn't seem to support multiple versions of the same formulae, say 4.8, 4.9 and 5.2, with the ability to only link the one you want. You can only have the latest versions, which is quite dumb I think...

[2015-08-10 16:38] smammy commented on #7
This is the full error output: https://gist.github.com/smammy/d81fa2ddcaa31245962b

[2015-09-04 05:41] ladislas commented on #6
this has been fixed with pull request #9

[2015-10-12 07:07] hryamzik opened #10 "Download failed: avr-libc-1.8.1.tar.bz2"
[code]

Results in:

[code]

Are there any other mirrors for this package?

[2015-10-12 07:09] hryamzik commented on #10
In fact, here's the second [link](http://mirror.lihnidos.org/GNU/savannah/avr-libc/) from google.

[2015-10-12 07:16] hryamzik commented on #10
So the workaround is to change the url:

[code]

[code]

[2015-11-28 13:59] ladislas opened #13 "About the different versions of gcc"
Hi there!

The formula still has two versions of gcc. Changing from one to the other used to work well just for me but I don't think it's a suitable way to do it.

I thought about this: why not avec different repository for different versions of gcc:
- homebrew-avr - latest gcc, the most up-to-date version (now 4.9 but tomorrow 5.0 and so on)
- homebrew-avr-4.8 - for the 4.8 version
- and so on...

[2015-11-28 18:42] leojrfs commented on #13
Thats a solution...
Another one to avoid duplication or extra effort/complication is to name the binary like they do it on the gcc formulas on the homebrew/versions .
Example:
gcc (gcc 4.9.3)
gcc-5 (gcc5.2.0)
gcc-4.8 (gcc4.8.5)

Another solution on the mean time is also keep them on one repo, and  add `conflicts_with` and a message to each formula. [Example](https://github.com/Homebrew/homebrew-ve

[2015-11-28 18:54] ladislas commented on #13
it's not just about conflicting, it's about different things: each time we have to compile `avr-libc` with the right version of `avr-gcc`, you can not just switch as you like.

having them in separate repositories with the conflict message and keg only, except for the main formula.

[2015-11-28 18:59] leojrfs commented on #13
We can compile and link avr-libc for each version the same way it is done with the gcc naming binaries I think.

but I don't know... we should decide, but first we must definitely chose a stable version (that we support). And then maybe we can move the other versions to their own repos until we can figure out if it is really necessary to have the effort of maintaining multiple versions or not.

Wh

[2015-11-28 19:02] ladislas commented on #13
I wanted to do that but I never succeeded... :)

:+1:

:+1:

[2015-11-28 19:04] leojrfs commented on #13
lets maybe focus on gcc5 then? and when we have a working version we move the others.

Sounds good?

What about the rest of you guys? @osx-cross/team

[2015-11-28 19:06] ladislas commented on #13
I'm all with using the cutting edge version. But I remember when I started working on my fork at WeAreLeka that people where really surprised I wanted to used a version of gcc newer than the one provided with Arduino ;)

[2015-11-28 20:59] larsimmisch commented on #13
I'd prefer to have cutting-edge versions of gcc in homebrew-avr. It has a certain risk, but for me - so far - the benefits have outweighed the inconvenience.

[2015-12-01 00:29] jj1bdx opened #14 "Needs explicit path directives on avr-gcc 4.9.3"
After upgrading to avr-gcc 4.9.3, I have to set the following compilation flags for ATmega328p, which were not required in the previous version. Could this be automated in somewhere else or should this be done always in this way?

[code]

[2015-12-01 06:23] ladislas commented on #14
did you upgrade from 4.8?

before upgrading you should `brew remove avr-gcc avr-binutils avr-libc`.

[2015-12-01 07:32] jj1bdx commented on #14
@ladislas removing and installing the avr-gcc toolchain solved the problem. Thanks!

[2015-12-01 07:32] #14 closed, assigned to nobody

[2015-12-01 07:34] ladislas commented on #14
you're welcome :)

when installing, you need to compile avr-libc with the version of gcc you want to use. that's why just installing avr-gcc doesn't work ;)

[2015-12-20 05:37] nixpulvis opened #17 "Common Include Path"
Currently there is no good way to reliably link to the libraries in `avr-libc`. I'd like to see something akin to `usr/local/include` for avr, maybe `usr/local/avr/(include | lib)`.

[2015-12-20 05:45] nixpulvis commented on #17
This would also give people building libraries a place to put headers and libraries. Currently I'm kinda hacking in the libraries with `avr-libc` with homebrew.

[code]

[2015-12-24 23:20] DouglasUrner commented on #4
For whatever it might be worth, this problem still exists (wrong version of libisl). It would be nice to have slightly clearer instructions on how to use the older version.

[2015-12-24 23:28] DouglasUrner commented on #4
This is how I modified the avr-gcc formula to use the older ISL:
1. `brew tap homebrew/versions`
2. `brew edit avr-gcc`
3. Change the two instances of 'isl' to 'isl012'
4. `brew reinstall avr-gcc`

[2015-12-27 21:58] luismarques opened #18 "avr-gdb does not find ISL"
[code]

I have `isl` (0.15) and `isl012` (0.12) both installed. I have also tried with only either of them installed, and with none. `brew doctor` is clean. I tried to do an `xcode-select --install` (saw that in a similar bug) but that didn't help either.

(I have `avr-binutils`, `avr-gcc`, `avr-libc` and `avrdude` all installed without issue)

[2015-12-31 22:32] leojrfs commented on #18
@osx-cross/team I can confirm this

[2015-12-31 22:35] leojrfs commented on #18
related to https://github.com/osx-cross/homebrew-avr/pull/3 that was added by @jpommerening

[2015-12-31 22:39] leojrfs commented on #1
lets keep this close, and use the "osx-cross" repo for planning

[2015-12-31 22:39] #1 closed, assigned to nobody

[2015-12-31 22:45] leojrfs commented on #7
can anyone confirm this is working?
either way, 4.8 will be left without much attention until the arrival of the first 5 series stable to our repo

[2015-12-31 22:49] leojrfs commented on #10
this is a external issue.
The `http://download.savannah.gnu.org/releases/avr-libc/avr-libc-1.8.1.tar.bz2` URL is resolved by [savannah](http://savannah.gnu.org)'s mirrorlist.

[2015-12-31 22:49] #10 closed, assigned to nobody

[2015-12-31 22:53] leojrfs commented on #17
Did you take a look at https://github.com/osx-cross/homebrew-avr/issues/13?

[2016-01-23 18:28] cosmo0920 opened #19 "avr-libc could not install with `--sandbox` option"
Here is log:

[code]

To solve this issue, it should bundle avr-libc into avr-gcc formula with resource syntax.

[2016-01-23 21:20] larsimmisch commented on #19
Hmmm, care to send a pull request or elaborate?

[2016-01-24 02:33] cosmo0920 commented on #19
Sure, but ordinary homebrew users do not affect by this issue.
`--sandbox` option prohibits to write outside of the formula's prefix and some temporary directories.
This option is mainly used by homebrew mainline contributors and its CI.

[2016-01-24 05:23] cosmo0920 opened #20 "avr-gcc48 could not find suitable version of ISL"
Here is log:

[code]

Note that current Homebrew mainline ISL version is 0.15:

[code]

We should use homebrew-versions' isl formula instead.

[2016-01-24 05:46] cosmo0920 commented on #19
I've registered the PR which solves this issue, thanks!

[2016-01-24 06:12] cosmo0920 commented on #18
This is because `"--with-isl=#{Formula["isl"].opt_prefix}"` tends to refer to Homebrew mainline ISL.
For example, we should use homebrew-versions' ISL 0.12 with `"--with-isl=#{Formula["isl012"].opt_prefix}"`.

[2016-01-24 11:15] cosmo0920 commented on #20
This issue also can solve with removing ISL dependency.

[2016-01-30 19:39] fono09 opened #24 "simavr could not install"
Already it seems to have been patched.

[code]

[2016-01-30 19:42] leojrfs commented on #24
confirmed!
@jedahan can you please verify this? btw want to help maintain?

[2016-02-20 20:10] jedahan commented on #24
Sorry about the long delay, just started a new job. Pull request made!

[2016-03-09 07:27] chrislenton1 opened #27 "Can't Install"
When I run the install into terminal I have the following problem

I can run brew tap osx-cross/avr with no issues
the second step of running the following is were an error occurs

brew install avr-libc

Last 15 lines from /Users/chris/Library/Logs/Homebrew/avr-binutils/02.make:
looking for an incomplete stdint.h in stdint.h, checking for uint32_t... no
looking for an incomplete stdint.h in inttyp

[2016-03-24 18:34] josherick commented on #27
Exact same issue here

[2016-03-24 18:49] josherick commented on #27
Running `xcode-select --install` fixed for me. Maybe something was out of date.

[2016-04-02 23:25] emilio-condordrives commented on #27
I have this problem after i updated to os x 10.11.4. Please help me

CesarOlivera$ avr-gcc -Wall -Wextra -Wpedantic -std=gnu99 -mmcu=atmega328p -Os -o go_avr.elf push_debouncer_AVR.c

dyld: Library not loaded: /usr/local/lib/libmpfr.4.dylib
  Referenced from: /usr/local/opt/libmpc/lib/libmpc.3.dylib
  Reason: Incompatible library version: libmpc.3.dylib requires version 6.0.0 or later, but libmpfr

[2016-06-04 04:48] evangs commented on #27
josherick's fix worked for me as well

[2016-07-08 15:24] edasque opened #29 "Issues with installation on 10.11.5"
On a brand new installation of 10.11.15, I can't seem to install avr-gcc:

[code]

Any idea how I could fix it? I tried to install 48 with similar issues. It doesn't work on this work mac but works on my home Mac for some reason.

[code]

[code]

[2016-07-29 23:21] leojrfs commented on #29
You still have this problem?
its working for me,  do you have xcode command line tools installed?

please install it with `--verbose` option to see the compiler output

[2016-07-29 23:34] #27 closed, assigned to nobody

[2016-07-29 23:34] leojrfs commented on #27
run `xcode-select --install`

[2016-07-29 23:35] #24 closed, assigned to nobody

[2016-07-31 02:56] #29 closed, assigned to nobody

[2016-07-31 11:58] edasque commented on #29
I still have that problem on my work computer, I can give you the dump Monday.

[2016-07-31 12:42] leojrfs commented on #29
Also check if you have the xcode command line tools

[2016-07-31 12:51] edasque commented on #29
I sure did

[2016-08-01 14:44] edasque commented on #29
Now on MacOS 10.11.6

[code]

[code]

I run with verbose and capture what I thought was the interesting part:

[code]

[2016-08-01 14:52] edasque commented on #29
Seems the first error is here:

[code]

[2016-08-02 08:52] sgoll opened #32 "Support for ATtiny441/841"
It seems the latest version (`avr-gcc -v` says 4.9.3) has no support for ATtiny441 and the related ATtiny841, installed with default options (`brew install avr-libc`).

Am I missing something?

[2016-08-05 18:31] FrancescoBorzi commented on #4
I have the same problem using gcc 4.9 or 5.2,  but with gcc 5.3 is fine

[2016-08-07 15:29] nisheethlahoti opened #33 "ATTiny828 not supported"
avr-gcc-4.9.3 does not support attiny828 in mmcu options
Note: The included C files do have the required support (accessible with `#define __AVR_ATtiny828__`), but the command line tool seems to be missing it.

[2016-09-12 07:25] openroc opened #34 "Failed to "brew install avr-libc""
because of the changing of the "avr-binutils-size.patch"

it was changed to "https://gist.githubusercontent.com/larsimmisch/4190960/raw/16c6b9627f8451eeebd644a4b9a741edfdb0c45e/avr-binutils-size.patch"

[2016-09-25 06:58] ladislas commented on #34
can you show us the error message? had no trouble installing it

[2016-09-25 07:06] ladislas commented on #7
I don't have issues as of now to install 4.8 and 4.9 -- but #21 should fix the problem :)

[2016-09-26 10:54] #34 closed, assigned to nobody

[2016-09-26 23:52] MrLavender opened #37 "avr-libc49 formula broken"
Tries to install in avr-gcc48/4.8.5 instead of avr-gcc49/4.9.3

==> copying /usr/local/Cellar/avr-libc49/2.0.0/avr -> /usr/local/Cellar/avr-gcc48/4.8.5
Error: No such file or directory - /usr/local/Cellar/avr-gcc48/4.8.5

[2016-09-27 04:23] ladislas commented on #37
fixed with https://github.com/osx-cross/homebrew-avr/commit/6b281693a4810e33539ea185139cfaed99fbdfc7

[2016-09-27 04:23] #37 closed, assigned to nobody

[2016-10-12 23:19] #33 closed, assigned to nobody

[2016-10-13 05:44] ladislas commented on #33
@nisheethlahoti did you find a solution?

[2016-10-13 05:45] ladislas commented on #32
I don't use those, so i've never tried.

would you have a github repository with code and Makefile I could use to try it myself?

[2016-10-13 05:45] #20 closed, assigned to nobody

[2016-10-13 05:47] ladislas commented on #13
Hi guys --

"Reopening" this issue as to what we should do.

@cosmo0920 seemed to have found to a solution expressed here: https://github.com/osx-cross/homebrew-avr/pull/21

What should we do?

[2016-10-13 05:48] #18 closed, assigned to nobody

[2016-10-13 05:48] #7 closed, assigned to nobody

[2016-10-13 06:09] nisheethlahoti commented on #33
It seems to be fixed in the latest version of avr-gcc

[2016-10-13 06:10] ladislas commented on #33
perfect :)

[2016-10-13 06:19] cosmo0920 commented on #13
Shortly speaking, it need to use "resource syntax" to bundle libc into each of gcc Cellar like #21.

[2016-10-13 06:21] ladislas commented on #13
thanks a lot @cosmo0920! I'll try that :)

[2016-10-13 07:03] sgoll commented on #32
@ladislas Not necessary, simply check if `avr-gcc -mmcu=attiny841` fails with `cannot access device-specs for (…)` (in which case it should also output the list of supported devices).

On my Debian system, this is the expected output:

[code]

My compiler there is also older than the one provided by Homebrew, so it should definitely be able to support those devices:

[code]

My guess is that there

[2016-10-14 05:15] ladislas commented on #32
well, with the latest version it works well. Have you tried removing everything and starting again?

<img width="892" alt="screenshot 2016-10-14 07 14 41" src="https://cloud.githubusercontent.com/assets/2206544/19376413/ee1181f4-91dd-11e6-8687-32cc911083dc.png">

[2016-10-14 15:14] sgoll commented on #32
Yes, now it works. And like you I now have avr-gcc version 6.2.0.

[2016-10-14 15:14] #32 closed, assigned to nobody

[2016-10-14 15:16] ladislas commented on #32
glad I could help :)

[2016-12-24 23:42] randre03 opened #39 "configure: error: cannot compute suffix of object files: cannot compile"
Here is the error when I try to install via Homebrew:

[code]

[2016-12-26 08:32] ladislas commented on #39
try removing everything and reinstalling from scratch following the instructions here: https://github.com/osx-cross/homebrew-avr#installing-homebrew-avr-formulae

[2017-01-11 00:30] ralphrmartin opened #40 "conflict with"

[2017-01-11 00:30] #40 closed, assigned to nobody

[2017-01-11 00:47] ralphrmartin opened #41 "Conflict with armmbed/formulae/arm-none-eabi-gcc"
I already have arm-none-eabi-gcc installed. This causes a conflict when trying to install avr-gcc:

`==> Installing avr-gcc from osx-cross/avr

...

==> make install

Error: The `brew link` step did not complete successfully

The formula built, but is not symlinked into /usr/local

Could not symlink lib/libcc1.0.so

Target /usr/local/lib/libcc1.0.so is a symlink belonging to arm-none-eabi-gcc. You

[2017-01-11 01:06] ladislas commented on #41
@ralphrmartin how did you install the arm-none-eabi-gcc? from here? https://github.com/osx-cross/homebrew-arm/

[2017-01-11 01:47] ralphrmartin commented on #41
No, from ARM's own mbed pages:

https://github.com/ARMmbed/homebrew-formulae/blob/master/arm-none-eabi-gcc.rb

as I want to use the compiler with ARM's own mbed ecosystem.

I have also reported the conflict to that maintainer.

[2017-01-14 00:00] luqasz commented on #17
I had to go to `/usr/local/Cellar/avr-gcc/6.2.0` and do `ln -s /usr/local/Cellar//avr-libc/2.0.0/avr avr`. After that `avr/io.h: No such file or directory` error disappeared.

[2017-04-18 21:18] wenhuizhang opened #44 "fatal error: 'libelf.h' file not found #include <libelf.h>"
[code]

# Please always follow these steps:
- [ ] Confirmed this is a problem with Homebrew/brew and not one or more formulae? If it's a formulae-specific problem please file this issue at https://github.com/Homebrew/homebrew-core/issues/new
- [ ] Ran `brew update` and retried your prior step?
- [ ] Ran `brew doctor`, fixed as many issues as possible and retried your prior step?
- [ ] Ran `brew co

[2017-04-18 21:19] wenhuizhang opened #45 "simavr"
[code]

[2017-04-18 21:29] ladislas commented on #44
my guess is that your need to use avr-gcc instead of gcc.

[2017-04-18 21:30] ladislas commented on #45
same as #44 -- you need to install avr-gcc

[2017-04-19 00:23] wenhuizhang commented on #44
Thanks， just updated and used avr-gcc, then I have got a linker problem, any insights please?
[code]

[2017-04-19 00:24] wenhuizhang commented on #45
Thanks , I have installed avr-gcc, and while compiling, faced some other issues.

[2017-04-19 02:13] ladislas commented on #44
@obra any ideas on that? I don't personally use it, so I cannot help :(

[2017-04-19 02:39] obra commented on #44
I never really got simavr working and am on Linux these days :/

[2017-04-25 08:17] tuna-f1sh opened #46 "Link Time Optimisation 6.2.0"
I use homebrew-avr with [Arduino-mk](https://github.com/sudar/Arduino-Makefile) and have been for a while. Updating to the latest formula, I suffered a segmentation fault at the linking stage.

Doing some digging, this is due to the `-flto` flag, set by default for Arduino-mk (and presumably arduino builds) but missing from the 6.2.0 homebrew build. I'm not that well versed with the gcc compiler b

[2017-04-25 08:42] larsimmisch commented on #46
@tuna-f1sh: can you show a minimal example of the compile/link rules in your Makefile? In particular, do you use ld for linking or gcc?

Note to self: I'm not sure what causes this, because `-enable-lto` is the default according to https://gcc.gnu.org/install/configure.html. But there are some mentions that LTO is a linker plugin, so we may have to make sure the gcc lto plugin is picked up by binu

[2017-04-25 08:48] ladislas commented on #46
I have the same issue. Did not notice it before as i was overriding the flags.

[2017-04-25 08:55] larsimmisch commented on #46
@tuna-f1sh Just looked at Arduino-mk: disregard my question. `$(CC)` is invoked as the linker

[2017-04-25 09:59] tuna-f1sh commented on #46
Appears to be a bug in the compiler. The [Arch package had the same problem](https://bugs.archlinux.org/task/50848). There is a work around but seems to be fixed in the latest avr-libc? [An issue in the Arduino repository](https://github.com/arduino/Arduino/issues/660#issuecomment-167271054) too.

[2017-04-25 10:13] ladislas commented on #46
that's super interesting! :)

maybe using avr-gcc 6.3.0 and Binutils 2.26.1 will fix the issue?

https://gcc.gnu.org/gcc-6/changes.html

[2017-04-25 10:19] larsimmisch commented on #46
The underlying issue seems to be this (https://github.com/arduino/Arduino/issues/660#issuecomment-216265321):

I would argue that this is a gcc bug - whatever it does, it should not segfault. Can you try compiling with `-fno-devirtualize` and `-flto`?

In any case, this should probably be reported to gcc and it looks as if the best we can do right now is to suggest workarounds - and removing `-flt

[2017-04-25 10:21] larsimmisch commented on #46
@ladislas yes, good idea. But we need a reproducible test case

[2017-04-25 11:17] ladislas commented on #46
Just tried and it doesn't work...

here is my test case: https://github.com/ladislas/Bare-Arduino-Project/tree/lto-bug

on branch `lto-bug` in `./src/BarProject` just run `make` on OSX.

[2017-04-25 12:24] ladislas opened #48 "Older versions of gcc"
As of today, we have 3 versions of GCC:

- latest (6.3.0)
- 4.9
- 4.8

We don't have 5.x.

I'm wondering if we should have them all, or none at all. Doesn't really make sense to jump from 4 to 6. In homebrew they have all the versions from 4.6 to 5. My opinion would be to keep only the latest version of each big version:

- 4.x
- 5.x
- 6.x
- etc.

but don't bother with multiple versions of each.

[2017-04-25 12:30] larsimmisch commented on #48
Yes, I think having the latest version of each major version would be great. So remove 4.8 and add 5.3.

We could also think about 4.9.3 instead of 4.9 (from https://gcc.gnu.org/releases.html)

[2017-04-25 12:32] ladislas commented on #48
agreed. I'll take care of it!

also, I think that following the new homebrew rule for naming version like `avr-gcc@5.3` would be best.

[2017-04-27 03:23] adzenith opened #49 "6.3.0 doesn't have pgmspace.h"
I'm trying to compile [QMK](https://github.com/qmk/qmk_firmware). It used to work fine with 6.2.0, but it looks like 6.3.0 is missing a required header.
6.2.0 had this file:
`/usr/local/Cellar/avr-gcc/6.2.0/avr/include/avr/pgmspace.h`
6.3.0 appears to have no equivalent. Am I doing something wrong? I just `brew update`d.

Thanks!

[2017-04-27 13:02] ladislas commented on #49
you have to recompile everything from scratch, specifically avr-libc

[2017-04-27 13:21] larsimmisch commented on #49
It would be nice if we could trigger this automatically, but I thought about it a while back and had no good idea how to do it without resorting to very hacky workarounds

[2017-04-27 13:22] ladislas commented on #49
this is linked to the fact that we cannot have two versions available at the same time.

someone was talking about sandboxing at some points, it might help solve the problem, but I'm not an expert with homebrew. any ideas?

[2017-04-27 14:06] ladislas commented on #49
@larsimmisch i'm gonna try that when i get time: https://github.com/cosmo0920/homebrew-avr/blob/e2d70836645309705df172ba0f2e96b5807fef4e/avr-gcc.rb with the `resource` thing

[2017-04-27 14:28] adzenith commented on #49
Just to confirm my understanding, it's as simple as:
[code]
Is that correct?

[2017-04-27 15:35] larsimmisch commented on #49
Yes, that should do it.

[2017-04-30 15:14] adzenith commented on #49
Thanks for the help - it worked great. I'm gonna go ahead and close this.

[2017-04-30 15:14] #49 closed, assigned to nobody

[2017-05-08 08:27] johu opened #51 "avr-gcc-{4.9.3,6.3.0} fails to build"
1. Default install
[code]

2. tried with lower gcc
[code]

[2017-05-08 09:12] ladislas commented on #51
are you sure you installed xcode and/or the command line tool correctly? what is the output of `xcode-select -v && xcode-select -p`

can you run the following:

[code]
let me know what happens.

also you're not supposed to install gcc directly.

[2017-05-08 11:39] johu commented on #51
[code]

Please let me know if you need more output.

[2017-05-08 11:46] larsimmisch commented on #51
lto again, from the looks of it. I

[2017-05-08 11:47] johu commented on #51
Maybe [this helps to fix the issue](http://stackoverflow.com/questions/25020140/undefined-symbols-for-architecture-x86-64-mavericks-yosemite-el-capitan).

[2017-05-08 12:48] ladislas commented on #51
@larsimmisch yes lto again, but it's strange, I can compile the thing...

@johu can you try the following:

[code]

and let me know what happens...

[2017-05-08 12:48] ladislas commented on #51
@johu can you also show us the output of `brew doctor`?

[2017-05-08 12:50] larsimmisch commented on #51
@ladislas it worked for me too, so I suspect there is some cruft left over for @johu

[2017-05-08 12:57] johu commented on #51
[code]

[2017-05-08 12:59] ladislas commented on #51
thanks @johu.

When trying to reinstall, can you add the `--verbose` argument so we can see what exactly went wrong?

[2017-05-08 13:19] johu commented on #51
@ladislas with --verbose output https://dpaste.de/1zq7/raw

[2017-05-08 14:15] ladislas commented on #51
@johu well... I don't know what might be causing that. Maybe you have some crufts left over as @larsimmisch mentioned but I'm afraid I cannot help you.

if you have another computer, could you try again?

[2017-05-08 14:19] larsimmisch commented on #51
@johu I would try to move `/usr/local/lib/libz*` away and then retry.

[2017-05-08 18:40] luqasz commented on #17
After upgrading to `avr-gcc` I had to remove all versions of `avr-gcc` and install newset since I had:
[code]

[2017-05-08 19:30] ladislas commented on #17
@luqasz yes, upgrading to a newer version of gcc requires to rebuild avr-libc at the same time. Note that you could also unlink the libraries and keep them if you need them for the first version of avf-gcc you installed.

we are trying to change this behavior by including the avr-libc as ressources in the branch `update-formula` - https://github.com/osx-cross/homebrew-avr/tree/update-formula

if y

[2017-05-08 19:34] luqasz commented on #17
Thx. I will stick to just removing and reinstalling. I do not switch between versions.

[2017-05-08 19:34] ladislas commented on #17
you can still try the new branch if you want gcc 6.3 -- it works great for me but I'd love feedback

[2017-05-08 19:36] luqasz commented on #17
I already have 6.3 installed.

[2017-05-09 06:40] johu commented on #51
Thanks a lot. Maybe this manual step to clean up old libs could be documented, if somebody encounters the same problem.
[code]

[2017-05-09 06:40] #51 closed, assigned to nobody

[2017-05-09 06:57] ladislas commented on #51
@johu good to know it worked!

yeah, this sometimes happen. homebrew has internal documentation on that and running brew doctor is part of the process. The problem is that we can't just tell people to remove everything as somethings might be really useful. it's really on a case by case basis...

but in general cleaning up brew every other month is a good thing to do :)

[2017-06-27 05:11] vcavallo opened #52 "Formulae found in multiple taps loops"
Getting the following error trying to install avr-libc:

[code]

I've already `brew tap osx-cross/avr` and installed xcode command line tools. Let me know what other information you need from me.
Thanks!

[2017-06-27 05:20] vcavallo commented on #52
Some further troubleshooting and frankly blind goofing around:

[code]

[2017-06-27 05:22] vcavallo commented on #52
...and as is often the case when I open issues, it's fixed a minute later:

[code]

Might be worth mentioning somewhere that if someone has both tapped they should remove the `larsimmisch` one?

[2017-06-27 06:00] ladislas commented on #52
yup you came up with the solution :)

thanks for letting us know, I'll close the issue now.

[2017-06-27 06:00] #52 closed, assigned to nobody

[2017-07-06 22:06] adrianawise commented on #4
After I upgraded to gcc 7.1.0, I was still getting the following error:

dyld: Library not loaded: /usr/local/lib/libisl.10.dylib

I just replaced every instance of libisl.10.dylib with libisl.15.dylib, which is the version installed for MacOS Sierra 10.12.5, in the _binary_ files:

/usr/local/Cellar/gfortran/4.8.2/gfortran/libexec/gcc/x86_64-apple-darwin13.0.0/4.8.2/f951
/usr/local/lib/libcloog-i

[2017-07-07 08:51] ladislas commented on #4
@adrianawise we do not support avr-gcc 7 yet and isl has been removed from the formula a long time ago.

are you sure your comment is related to avr?

[2017-07-26 05:59] ubidefeo opened #55 "avr-gcc 7.1.0 will not find <avr/io.h>"
just updated but had to `brew switch avr-gcc 6.3.0` to have my code compile again.

[code]

[2017-08-02 12:57] ddavidebor commented on #55
same issue here with gcc 7, on a project that compiles correctly on Arch with the same avr-gcc version

[2017-08-02 13:33] ladislas commented on #55
you need to recompile avrlibc for each avr version.

this is fixed in branch https://github.com/osx-cross/homebrew-avr/tree/update-7.1-6.4

will merge soon to master

[2017-08-02 14:04] codmpm commented on #55
Having the problem right now. How can I use the update-7.1-6.4 version?

[2017-08-03 05:22] nooges commented on #19
This issue needs to be looked at again, because with this commit: https://github.com/Homebrew/brew/commit/fb310c57b18c3835ed69e25e653cddc3570f64ac, sandboxing is turned on for all non-homebrew taps.

Installation of avr-libc now results in this:
[code]

Related issues:
https://github.com/Homebrew/brew/issues/2994
https://github.com/Homebrew/brew/issues/2986

[2017-08-03 05:50] cosmo0920 commented on #19
Does anyone have enough motivation and time to make up-to-date this PR? https://github.com/osx-cross/homebrew-avr/pull/21
It should fix this issue.

[2017-08-03 16:20] AlphaOrionis42 commented on #27
I am having issues with my install as well. I have the Xcode command line tools installed already. When trying to install the running brew install avr-libc I end up with the following.
`Gregs-MacBook-Pro:~ gregt$ brew install avr-libc
==> Installing avr-libc from osx-cross/avr
==> Installing dependencies for osx-cross/avr/avr-libc: avr-gcc
==> Installing osx-cross/avr/avr-libc dependency: avr-gcc

[2017-08-03 19:18] nooges commented on #19
Actually, it looks like this PR should take care of the issue: https://github.com/osx-cross/homebrew-avr/pull/54

[2017-08-04 01:23] cosmo0920 commented on #19
Thanks for notifying it.
#54 should solve this issue.

[2017-08-04 08:31] ladislas commented on #55
@codmpm navigate to `/usr/local/Homebrew/Library/Taps/osx-cross/homebrew-avr/` and switch branch

[2017-08-04 09:08] ladislas commented on #19
@cosmo0920 it should be fixed now, I just merged #54 :)

[2017-08-04 09:15] codmpm commented on #55
Thank you!

But sadly I only have a master branch:
![bildschirmfoto 2017-08-04 um 11 14 30](https://user-images.githubusercontent.com/9745239/28962484-2397760c-7906-11e7-8876-60af9a2668ca.png)

[2017-08-04 09:18] ladislas commented on #55
@codmpm i just merge the changes, brew update should pull them and it should work. if not untap and tap again ;)

and as for only seeing the master branch, I had the same issue, you need to:

`git config remote.origin.fetch "+refs/heads/*:refs/remotes/origin/*"`

fixed it for me :)

[2017-08-04 09:18] ladislas commented on #48
closing this issue as I just merged #54

[2017-08-04 09:18] #48 closed, assigned to nobody

[2017-08-04 09:22] ladislas commented on #46
@tuna-f1sh this is being discussed here: https://github.com/sudar/Arduino-Makefile/issues/486

updating arduino-mk should fix the issue.

[2017-08-04 09:22] #46 closed, assigned to nobody

[2017-08-04 09:23] codmpm commented on #55
That did the trick - thank you!

![bildschirmfoto 2017-08-04 um 11 22 50](https://user-images.githubusercontent.com/9745239/28962837-4b5e2662-7907-11e7-8046-d36df14decd9.png)

[2017-08-04 09:28] codmpm commented on #55
Sorry to bother you again... but I think I've messed something up:

![bildschirmfoto 2017-08-04 um 11 27 24](https://user-images.githubusercontent.com/9745239/28963040-f83ea23a-7907-11e7-8756-6bf26330b798.png)

[2017-08-04 10:06] #45 closed, assigned to nobody

[2017-08-04 10:07] #44 closed, assigned to nobody

[2017-08-04 10:07] #39 closed, assigned to nobody

[2017-08-04 10:07] #19 closed, assigned to nobody

[2017-08-04 10:08] #17 closed, assigned to nobody

[2017-08-04 10:08] ladislas commented on #17
as there is no activity, I'm closing the issue. Feel free to reopen if needed

[2017-08-04 10:09] ladislas commented on #13
fixed with #54

[2017-08-04 10:09] #13 closed, assigned to nobody

[2017-08-04 10:09] ladislas commented on #39
as there is no activity, I'm closing the issue. Feel free to reopen if needed

[2017-08-04 10:09] ladislas commented on #45
as there is no activity, I'm closing the issue. Feel free to reopen if needed

[2017-08-04 10:10] ladislas commented on #44
as there is no activity, I'm closing the issue. Feel free to reopen if needed

[2017-08-04 10:10] ladislas commented on #41
as there is no activity, I'm closing the issue. Feel free to reopen if needed

[2017-08-04 10:10] ladislas commented on #55
oh sorry! I have to update the readme. You just need to run `brew install avr-gcc` :)

[2017-08-04 10:11] ladislas commented on #55
but as said, it is now merged in master, so no need to switch branches.

[2017-08-04 11:22] cosmo0920 commented on #19
Awesome. Thank you!

[2017-08-04 11:57] codmpm commented on #55
It is working from master. Thank you so much!

[2017-08-04 12:19] #55 closed, assigned to nobody

[2017-08-04 20:09] ralphrmartin commented on #41
This issue has not been addressed, but ignored. Please reopen it. The conflict still exists.

[2017-08-05 10:05] ladislas commented on #41
unfortunately that is outside of our reach. What you can do is install avr-gcc@6 which is keg only or unlink avr-gcc.

we've also changed the way avrlibc is built so it might have fixed the issue. have you tried recently?

[2017-08-05 10:12] Chinchila01 opened #56 "404 Not Found when downloading avr-binutils-patch"
I get the following error when I try to brew install avr-gcc:

`==> Downloading https://raw.githubusercontent.com/osx-cross/homebrew-avr/update-

curl: (22) The requested URL returned error: 404 Not Found
Error: Failed to download resource "avr-binutils--patch"
Download failed: https://raw.githubusercontent.com/osx-cross/homebrew-avr/update-formula/avr-binutils-size.patch`

[2017-08-05 10:21] #56 closed, assigned to nobody

[2017-08-05 10:21] ladislas commented on #56
@Chinchila01 just fixed it

[2017-08-05 10:26] ralphrmartin commented on #41
Yes, the problem still exists.

At present, depending on whether I am developing for arm or avr, I have to unlink the other, and link the one I am using.

Surely the solution is to put the libraries in a subdirectory, not directly into /usr/local/lib?

[2017-08-05 10:45] ladislas commented on #41
that's exactly what `keg_only` in version 6 is for but you won't have `avr-gcc` available in your path. You'll need to point to the right `bin` in `/usr/local/opt`. That might cause other issues.

I'm open to a fix, but really it seems like the fix would be easier on their side as they are only downloading prebuilt binaries while we are building everything from scratch. It's just a matter of copyi

[2017-08-21 04:55] porglezomp opened #58 "Missing avr-libc breaks simavr formula"
[code]
I suspect this was caused by #54 removing the `avr-libc` formula, and not changing `simavr` to use the resource, but I don't know how to test with a local formula to confirm this.

[2017-08-21 06:17] ladislas commented on #58
I just created a PR with the fix - https://github.com/osx-cross/homebrew-avr/pull/59

Can you try it?

how to here: https://help.github.com/articles/checking-out-pull-requests-locally/

[2017-08-21 06:25] ladislas commented on #58
well... doesn't seem to work...

@obra @jacquesg - any ideas guys on what we should do?

[2017-08-22 00:33] porglezomp commented on #58
Hm, I was messing around working with it locally, and accidentally got it to run fine with the same package after I installed `avr-gcc` first. I had a few broken steps in between, so I'm not sure if that's all that's changed. Does setting `simavr` to depend on `avr-gcc` work?

[2017-08-22 15:26] ladislas commented on #58
yep that might be it!

I'll edit the PR

[2017-08-25 07:41] imeteora opened #61 "Fails in upgrade avr-gcc, cause of fails in fetching avr-libc 2.0 from server."
Runs upgrading avr-gcc to 7.2.0, always fails in downloading avr-libc 2.0.0 from TW's server. Here is console's log:

$ brew upgrade
==> Upgrading 1 outdated package, with result:
osx-cross/avr/avr-gcc 7.2.0
==> Upgrading osx-cross/avr/avr-gcc
==> Downloading https://gcc.gnu.org/pub/gcc/releases/gcc-7.2.0/gcc-7.2.0.tar.xz
Already downloaded: /Users/anybody/Library/Caches/Homebrew/avr-gcc-7.2.0.tar

[2017-08-25 09:18] ladislas commented on #61
does pasting `https://download.savannah.gnu.org/releases/avr-libc/avr-libc-2.0.0.tar.bz2` in your browser work?

it seems like the the link resolves to the mirror closest to you and then fails.
if we can find a mirror that's working all the time, I can add that to the formula.

[2017-08-25 09:18] ladislas commented on #61
update: actually this link http://ftp.yzu.edu.tw/nongnu/avr-libc/avr-libc-2.0.0.tar.bz2 works for me

[2017-08-25 09:36] imeteora commented on #61
Oh, I see. I think that my company's bad network or the Chinese GFW cause this issue happens for me.  I will try it again in my home later. Thanks.

[2017-08-25 11:37] #61 closed, assigned to nobody

[2017-08-26 22:02] MCUdude opened #62 "Not able to update toolchain"
Hi!
About a year ago I installed the AVR toolchain on my mac using [this guide](http://maxembedded.com/2015/06/setting-up-avr-gcc-toolchain-on-linux-and-mac-os-x/). It worked like a charm, and I currently have avr-gcc 4.9.3 and avr-libc 2.0.0 installed.

I'm working [on a project](https://github.com/MCUdude/optiboot_flash) where I want to compile optiboot for the new ATmega48PB/88PB/168PB/328PB ch

[2017-08-28 07:05] ladislas commented on #62
Hi @MCUdude --

We updated the way the formula work. Now you don't need to install avr-libc and avr-gcc separately because avr-libc is now a resource of avr-gcc.

You should use the latest version of avr-gcc. I'm using it all the time on old and new code and it works perfectly. A lot of bugs have been fixed since 4.9 and a lot of nice features and optimizations have been added.

It might be better

[2017-08-28 15:43] MCUdude commented on #62
Thanks, but I'm still getting an error.
I really want to use avr-gcc 4.9, since I'm compiling a bootloader that has to be less than 512B.
I was able to install avr-binutils, but not the rest of the packages.

[code]

[2017-08-28 15:57] ladislas commented on #62
what makes you think it will not be the case with gcc 7.2?

[2017-08-28 16:20] MCUdude commented on #62
I don't. It's just that I want to stick with the compiler version that Arduino IDE + the optiboot maintainers are using.

Does this means that there's no way to use brew for installing avr-gcc 4.9? If avr-gcc 7.2 is so great, why does Atmel studio ship with avr-gcc 4.9.2? No attack, just curious 🙂

[2017-08-28 17:15] #62 closed, assigned to nobody

[2017-08-28 17:17] ladislas commented on #62
I'd say because they are afraid of the future and don't want people to use the latest C++ features to make their code more readable and easier to write 😉

Anyway I just pushed some changes and things should be fixed now. just `brew upgrade && brew install avr-gcc@4` and you should be good to go. Took me around 30 minutes to compile so be patient and use `-v` if you want to see the progress.

[2017-08-28 17:31] ladislas commented on #62
and also, you can have the different versions living side by side now. `avr-gcc@4` won't be linked to `/usr/local/bin` by default. You can force that with `brew link avr-gcc@4` or have your makefile point to the right directory.

I'm curious if you could also install version 7.2 and compare the .hex files generated.

[2017-08-28 20:24] MCUdude commented on #62
I certainly will! I'm away the next week, but I'll post the hex files later.

BTW which package contains the different microcontroller options? Turns out the default avr-gcc@4 installation doesn't support _any_ of the new *PB series

[2017-08-29 07:00] ladislas commented on #62
I honestly don't know, but from the [documentation](https://gcc.gnu.org/onlinedocs/gcc/AVR-Options.html), it seems that you need to use `--mmcu=mcu` to something specific. The PB mcu's appear in the documentation in 2015. You might want to try with avr-gcc@5 or @6 if it is supported.

[2017-09-04 12:11] #58 closed, assigned to nobody

[2017-09-04 12:12] ladislas commented on #58
Just merged the changes. it's working now and pulling avr-gcc as a resource which contains avr-libc and avr-binutils.

[2017-09-04 12:12] ladislas commented on #58
thanks for your investigation @porglezomp 👍

[2017-09-23 01:03] miguelmota opened #63 "hangs on make install"
[code]

[code]

[2017-09-23 09:40] ladislas commented on #63
I'm not sure I understand the issue here...

it can take up to 40 minutes to compile GCC depending on your system.

If you want to make sure it still work, use `brew install avr-gcc --verbose`

[2017-09-24 01:34] #63 closed, assigned to nobody

[2017-09-24 14:47] ladislas commented on #63
it was a pleasure to help!

[2017-09-24 22:13] miguelmota commented on #63
Thanks! it just took a while like you said

[2017-10-04 12:31] niklarm commented on #41
I'm currently looking into this.
It's an issue that both formulas link libcc1 directly into `/usr/local/lib`, that'll have to be fixed here too.

[2017-10-04 16:42] niklarm commented on #41
~So. The issue is that neither toolchain is built with `--libdir` set, so eventually both just put their libs into `/usr/local/lib`. In contrast, the core gcc formula sets it to [`#{prefix}/gcc/#{version_suffix}`](https://github.com/Homebrew/homebrew-core/blob/master/Formula/gcc.rb#L91), and therefore `libcc1` ends up not conflicting.~

~For a faster resolution I recommend for you to add this flag

[2017-10-05 10:06] niklarm commented on #41
This has been solved on our end by not symlinking the `lib` folder, but I still recommend adapting this formula to not place libcc1.so into lib as well, otherwise you might clash again.

[2017-10-09 04:08] jackrsteiner opened #64 "brew install avr-libc no longer works"
Hi. I think that the removal of `brew install avr-libc` is intended, as per #54. Would someone just clarify if that's right, and what the correct approach for installing avr-libc now is? Thanks.

[2017-10-09 06:03] ladislas commented on #64
@jackrsteiner avr-libc is now part of the whole `avr-gcc` formula.

to install: `$ brew install avr-gcc`

thanks to this, you can now have different versions of avr-gcc installed at the same time.

[2017-10-09 06:04] ladislas commented on #41
thanks @niklas-arm!

So how do you suggest we handle that? The same way as gcc does?

[2017-10-09 08:41] #64 closed, assigned to nobody

[2017-10-10 08:57] niklarm commented on #41
Yes, I still recommend copying the gcc formula on this, it seems the most sensible option to me.

An alternative would be to install the formula inside another prefix inside the Cellar to symlink only the `/bin` folder. This is effectively [what I ended up doing with ours](https://github.com/ARMmbed/homebrew-formulae/blob/master/arm-none-eabi-gcc.rb#L12-L13), but it seems a little… inelegant.

[2017-11-07 13:40] #41 closed, assigned to nobody

[2017-11-07 13:41] ladislas commented on #41
@niklas-arm @ralphrmartin it has been fixed on our side.

thanks for your help! 👍

[2017-11-07 15:24] ralphrmartin commented on #41
Thanks for fixing this

[2017-11-24 10:51] alkopop79 opened #66 "Cannot install"
It seems that qt5 depends on this this library. So far I have not managed to install it.

[code]

[2017-11-24 10:58] ladislas commented on #66
You should `brew untap larsimmisch/avr` and then `brew cleanup -scf` and uninstall all the `avr` related tools to start from scratch.

also make sure to run `brew update && brew upgrade`

But I don't see how qt5 could depend on this formula as there is no mention of us in [their formula](https://github.com/Homebrew/homebrew-core/blob/master/Formula/qt.rb).

[2017-11-24 10:59] ladislas commented on #66
I just tried installing qt5 and it works like a charm. it is even bottled.

[2017-11-24 13:56] #66 closed, assigned to nobody

[2017-12-11 09:57] guneemwelloeux opened #67 "Conflict of avr-gcc with gcc@7 from homebrew tap"
Hi,

I just installed avr-gcc@7 and the install failed at the linking stage:
[code]

In fact, I already had gcc@7 installed, and this is the reason for the clash.
Wouldn't it be possible to add a dependency from avr-gcc to gcc@7 instead of recompiling gcc in the avr-gcc formula?

Thanks
Will

[2017-12-11 10:20] ladislas commented on #67
Thanks for reporting that. I'll look into it.

No because avr-gcc is compiled with a specific target (avr) which is not the case with vanilla gcc.

[2017-12-11 10:50] leojrfs commented on #67
I can confirm this issue

[2017-12-11 10:57] ladislas commented on #67
are you sure you have pulled the latest version of the formula?

a similar issue was reported here #41 and the solution was found here: https://github.com/osx-cross/homebrew-avr/commit/50b95f3884c0ce0f450d489cb1a443282f1567b5

[2017-12-11 12:34] guneemwelloeux commented on #67
brew update said everything was up to date, so I believe I am using the latest version. I don't have access to my macbook at the moment, but I'll try and give more info tonight, in particular to make sure I have installed gcc7 from the correct tap, and using the latest formula.

[2017-12-11 12:38] ladislas commented on #67
I've found the issue. The path to libdir used by avr-gcc is `../gcc/..` that's why it's conflicting.

i'll update the formula asap.

[2017-12-11 12:52] guneemwelloeux commented on #67
If I understood the formula correctly, that means that we'll be able to live with both toolchains installed and brew-linked simultaneously, which is just perfect.
Thanks for the speedy resolution!

[2017-12-11 18:23] #67 closed, assigned to nobody

[2017-12-11 18:26] ladislas commented on #67
just merged it

[2017-12-11 20:45] guneemwelloeux commented on #67
I ran `brew update` just now, but it is not reporting avr-gcc as being updated. Do I need to force remove and install again?

[2017-12-11 22:52] leojrfs commented on #67
brew update and then brew reinstall it

[2017-12-13 10:38] ladislas commented on #67
@guneemwelloeux you can `brew remove` before if needed.

[2017-12-14 07:20] guneemwelloeux commented on #67
Everything worked fine after the reinstall, thank you for the fix!

[2017-12-26 10:15] KrzysztofKowalski opened #68 "cannot install on high sierra"
command used:
brew install --HEAD osx-cross/avr/avr-gcc osx-cross/avr/avarice osx-cross/avr/simavr

log:

==> Installing avr-gcc from osx-cross/avr
==> Installing dependencies for osx-cross/avr/avr-gcc: gmp, mpfr, libmpc, avr-binutils
==> Installing osx-cross/avr/avr-gcc dependency: gmp
==> Downloading https://homebrew.bintray.com/bottles/gmp-6.1.2_1.high_sierra.bottle.tar.gz
==> Downloading from

[2018-01-03 09:56] ladislas commented on #68
have you tried removing the `--HEAD`?

[2018-01-16 11:09] werty37 opened #69 "Xcode and homebrew-avr"
I would like to know how to use homebrew-avr with Xcode. Can you please list the steps please, and i can help in creating a wiki with those details.

[2018-01-16 11:12] werty37 commented on #68
Works for me on macOS High Sierra 10.13.2 (17C88)
[code]

[code]

[2018-01-16 11:19] ladislas commented on #69
what do you mean use it with Xcode?

[2018-01-16 11:23] werty37 commented on #69
How do i use Xcode as the IDE with homebrew-avr so that i can code, compile, flash for avr mcus? I am sorry if this is not relevant; I thought this library provided something like this.

https://github.com/jawher/xavr/

[2018-01-16 11:40] ladislas commented on #69
they seem to already describe all the steps to make it work.

https://github.com/jawher/xavr/#usage

you just need to install avr-gcc prior to running their python script.

I'm not an expert in Xcode, I use neovim to program in C/C++ and I have all the features of a good IDE, code completion and error included.

if you're familiar with vim/neovim, you can look here: https://github.com/ladislas/Bar

[2018-01-16 12:15] werty37 commented on #69
@ladislas The x-avr project seems dead. But anyway i ll look into it. Thanks.

[2018-01-16 12:15] #69 closed, assigned to nobody

[2018-01-19 12:20] ladislas commented on #68
I've tried reinstalling, it works as well on my computer.

@KrzysztofKowalski without more information, it's hard to know what's going wrong. I'm closing the issue but feel free to reopen if the problem persists.

[2018-01-19 12:20] #68 closed, assigned to nobody

[2018-01-23 20:12] evanlooij opened #70 "Installation is very CPU intensive"
Today I installed homebrew-avr and was surprised when the fan on my MacBook started revving up. I checked Terminal and saw the title bar jumping between gcc and ruby with the fan whirring and the laptop practically shuddering -- very steampunk but I almost killed the installation convinced that it was stuck in an endless loop.

In the end, the installation did succeed, taking almost half an hour.

[2018-01-23 20:28] leojrfs commented on #70
You should know that it is compiling a compiler. So it is CPU intensive 😀

[2018-01-23 20:28] #70 closed, assigned to nobody

[2018-01-23 20:29] leojrfs commented on #70
You can open a new issue if you think it should also be provided as binary (bottle or so).

[2018-02-06 10:55] DagAgren opened #74 "Fails to build on High Sierra"
Getting this when trying to install.

    $ brew install avr-gcc
    ==> Installing avr-gcc from osx-cross/avr
    ==> Installing dependencies for osx-cross/avr/avr-gcc: avr-binutils
    ==> Installing osx-cross/avr/avr-gcc dependency: avr-binutils
    ==> Downloading http://ftp.gnu.org/gnu/binutils/binutils-2.30.tar.bz2
    Already downloaded: /Users/dag/Library/Caches/Homebrew/avr-binutils-2.30.

[2018-02-06 14:47] ladislas commented on #74
Seems related to #68 -- but I don't have the issue on High Sierra myself so it's a bit hard to help.

try running the following:

[code]

[2018-02-06 14:49] ladislas commented on #74
and regarding including binaries, I'm not aware of a simple way to do so for taps.

feel free to open a pull request to add that feature :)

[2018-02-06 15:49] DagAgren commented on #74
No change. I don't think it is related to that issue, the error seems significantly different, but homebrew unhelpfully cuts off all the useful parts of the error.

[2018-02-06 15:57] ladislas commented on #74
try installing with `--verbose`

[2018-02-07 10:26] DagAgren commented on #74
This seems to be the error, repeated quite a few times:

	../../binutils/readelf.c:9250:10: error: incomplete definition of type 'struct tm'
						tmp->tm_year + 1900, tmp->tm_mon + 1, tmp->tm_mday,
[code]

[2018-02-07 10:50] ladislas commented on #74
can you provide us with the full output in a https://pastebin.com/

[2018-02-07 10:53] ladislas commented on #74
I was able to compile it myself
![screenshot 2018-02-07 11 52 56](https://user-images.githubusercontent.com/2206544/35912671-835d0e46-0bfd-11e8-9039-2a9258d9c072.png)

[2018-02-07 12:49] larsimmisch commented on #74
I'm on High Sierra, and had no problems.

@DagAgren Can you run `brew doctor` and check if there is something in `/usr/local` that maybe shouldn't be there? `struct tm` is normally defined in `time.h`.

[2018-02-07 14:58] maartenpaauw commented on #74
Just installed it (on High Sierra) without any problems.

[2018-02-07 15:09] DagAgren commented on #74
Thanks, `brew doctor` was exactly what was needed. ffmpeg has somehow decided to just dump all its headers in /usr/local/include, messing everything up.

[2018-02-07 15:09] #74 closed, assigned to nobody

[2018-02-08 16:43] sslupsky commented on #51
If anyone is reading further on this topic, I had a compile problem compiling avr-gcc@4 with Xcode 9.

Last 15 lines from /Users/stevenslupsky/Library/Logs/Homebrew/avr-gcc@4/02.make:
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/include/c++/v1/exception:173:5: error: no member named 'fancy_abort' in namespace 'std::__1'; did you mean simply 'fancy_abort'?

[2018-02-10 20:18] MCUdude opened #75 "Not able to install avr-gcc@4 or avr-gcc@5"
Hi!
I'm not able to install avr-gcc@4 or avr-gcc@5 when using brew. Here's the error when i tried avr-gcc@5:

[code]

The error looks to me identical to the one I get when trying to install avr-gcc@4. What's wrong?

[2018-02-11 11:30] ladislas commented on #75
@sslupsky had the same issue:

https://github.com/osx-cross/homebrew-avr/issues/51#issuecomment-364172149

downgrading to previous xcode versions seems to work.

[2018-02-11 15:24] ladislas commented on #75
@MCUdude try running `brew doctor`

[2018-02-16 00:13] Dsignmind commented on #75
@MCUdude @ladislas I am running into a similar problem. I don't have the ability to downgrade XCode as I also develop mobile apps that require iOS11.
Getting the exact same error when I try to install avr-gcc@5 after following steps from [#62 ](https://github.com/osx-cross/homebrew-avr/issues/62)
Any help appreciated.

[2018-02-16 14:36] #75 closed, assigned to nobody

[2018-02-16 14:37] ladislas commented on #75
just fixed it.

quick question though: why not use avr-gcc 7.3?

[2018-02-16 18:48] Dsignmind commented on #75
@ladislas Thank you, trying now!
To be honest I would, but I'm collaborating on a project that is using an older AVR++ library (pre gcc 6.0.0) and to do so would mean fixing/changing a lot of reinterpret_cast errors I am receiving from the existing code.

[2018-02-16 19:14] sslupsky commented on #75
@Dsignmind You can have multiple versions of Xcode installed.  You can download Xcode 8, rename it some something like Xcode8.3.3 (do not have any spaces in the name), move it to your Applications folder before you run it then run it.  Then open preferences and you can select which toolchain to use (Xcode 9 or Xcode 8).

I had a problem compiling avr-gcc 4.5.3 with avr-libc1.7.1.  Source code requ

[2018-02-24 15:01] JacobJerrell opened #76 "Fails to Build on High Sierra"
Getting this when trying to install:

[code]

I've run through the following troubleshooting as suggested in other similar issues:

Using ``brew doctor``, a lot of stuff was in the node folder regarding openssl, and v8. I moved the entire /usr/local/include/node folder to the desktop and ran:

[code]

Sorry for the Tarantino script, but the above error is what happened after the above troubleshoot

[2018-02-25 07:40] ladislas commented on #76
could you share the result of `brew doctor`?

If you don't have too many packages installed, you could try removing brew completely and starting from scratch. it happens to me sometimes and really helps.

[2018-02-25 13:31] JacobJerrell commented on #76
I have a number of packages installed because I work for a software company... currently is not the time to uproot my system, but if all else fails I can wait until things settled down a bit and then go down that road... After putting the node folder back into the /usr/local/include directory, this is the result of ``brew doctor``

[code]

[2018-02-26 11:16] ladislas commented on #76
I've tried re-installing it myself on High Sierra and it works perfectly.

I'm not sure what's causing the issue as the log is not very useful...

trying `brew remove anaconda node` might help, but i'm not sure.

as said earlier, removing hombrew and resinstalling it might fix it.
(quick tip: take a screenshot of `brew list` so you know which package you need to reinstall)

[2018-03-08 13:14] JacobJerrell commented on #76
I blew out homebrew and reinstalled. The first thing I tried to install was avr-gcc, and this is the result:

[code]

[2018-03-08 13:15] ladislas commented on #76
can you run `brew install avr-gcc --verbose` and provide me with the full output?

are you running the latest version of XCode and/or command line tools?

[2018-03-12 01:04] JacobJerrell commented on #76
Sorry it's taking so long to get back... XCode is v9.2

[--verbose output (last 129 lines because of terminal memory limit)](https://pastebin.com/tdmcsmTD)

00.options.out:
`osx-cross/avr/avr-gcc`

[01.configure](https://pastebin.com/pBAJq9QQ)
[01.configure.cc](https://pastebin.com/aht1j0kM)

02.make and 02.make.cc are too large for pastebin... email?

Thank you

[2018-03-12 08:15] ladislas commented on #76
Honestly I don't know what could go wrong...

@leojrfs @larsimmisch any ideas?

[2018-03-26 01:10] JacobJerrell commented on #76
I resolved the issue by skipping homebrew and compiling the everything locally.

1. Installed binutils
1.a. ./configure --target=avr
2. Installed gcc
2.a. $PWD/../gcc-7.3.0/configure --prefix=/opt/gcc-7.3.0 --without-headers --with-newlib --target=avr --enable-languages=c --disable-libssp
2.b. The configure command that worked for me is a combination of a couple fixes I found on other discussion b

[2018-03-26 01:10] #76 closed, assigned to nobody

[2018-06-30 16:04] fauxpark opened #77 "avr-gcc@7 will not build on High Sierra (again!)"
I see there are a few previous issues similar to mine, but none of the solutions in them (if any) have helped me.

I need to stay on avr-gcc version 7 for now as the QMK keyboard firmware and/or LUFA apparently have some issues with the new version at the moment. Now avr-gcc itself won't build when I attempt to install it.

[Here is the output of 02.make](https://pastebin.com/rw7WteZg). Lines 3252

[2018-06-30 20:52] #77 closed, assigned to nobody

[2018-06-30 20:52] ladislas commented on #77
you should be good now.

[2018-06-30 23:05] fauxpark commented on #77
Thanks, it is indeed building now.

[2018-07-24 22:08] maxshaffer opened #78 "brew install avr-gcc fails"
[code]

[2018-07-25 17:10] ladislas commented on #78
Thanks @maxshaffer for filling an issue.

But without more information, I can't help.

Please use `--verbose` when installing and share the complete output through [pastbin](https://pastebin.com/).

Please also share your system information and the list of formulae already installed.

Have you tried running `brew update && brew upgrade` first? What is the output of `brew doctor`?

try uninstalling

[2018-07-30 19:15] maxshaffer commented on #78
Yes, I ran brew update && brew upgrade. I am up to date. brew doctor returns "Your system is ready to brew". I ran brew install avr-gcc --verbose, but the installation took over 12 hours and I finally had to cancel it prematurely.

[2018-08-04 13:37] ladislas commented on #78
I still need info about your system. I can help you with what you shared. I tried uninstalling and recompiling and it works well on my machine.

The 12 hours installation is clearly not a good sign. It usually takes between 30min to 1 hour to compile GCC.

Closing the issue now, feel free to reopen if you have new updates.

[2018-08-04 13:37] #78 closed, assigned to nobody

[2018-08-05 04:51] daikiojm opened #79 "brew install avr-gcc fails on High Sierra"
I attempted to install avr-gcc with brew, but the following error occurs and it fails.
looked at past Issue and tried brew's update and clean, but the situation did not change.

## Install result

Getting this when trying to install:

[code]

There is output with `--verbose`

https://pastebin.com/91JGqU0k

## Environment

My environment confirmed with the `brew config`

[code]

[2018-08-10 02:23] joshuata commented on #79
It looks like there was a similar problem on this issue [here](https://github.com/Homebrew/homebrew-core/issues/30636)

[2018-08-10 19:53] ladislas commented on #79
thanks @joshuata for pointing that out! I'm going to look into it.

The only thing that surprises me is that we are still on GCC 8.1.0 and we don't depend on ISL...

[2018-08-14 10:31] #79 closed, assigned to nobody

[2018-08-14 10:31] ladislas commented on #79
@joshuata let me know if it works now. it does on my machine.

[2018-08-14 15:41] joshuata commented on #79
@ladislas It's working! Thanks!

[2018-08-15 00:50] henrikjonhed opened #80 "Can't build avr-gcc@7 on High Sierra"
Hi, I cant build avr-gcc@7 om high sierra, 02.make looks like this in the end:

[code]

[2018-08-15 10:15] #80 closed, assigned to nobody

[2018-08-15 10:16] ladislas commented on #80
@henrikjonhed it should be working now, let me know.

[2018-08-15 13:39] henrikjonhed commented on #80
Works now! Thanks for the fast fix 🙌

[2018-08-24 22:32] patrickelectric opened #82 "simavr fail to install with last version of macos sierra"
[code]

[2018-08-25 07:24] ladislas commented on #82
Yup, I can confirm that, but the error logs are far from helpful...

@jacquesg or @obra do you have an idea of what could go wrong?

[2018-08-25 10:31] jacquesg commented on #82
This is in the error log:

[code]

[2018-09-08 14:48] leico opened #83 "Could not install avr-gcc@5 on macOS high sierra 10.13.5"
macOS 10.13.5
Homebrew 1.7.3

Perhaps similar issue at https://github.com/osx-cross/homebrew-avr/issues/80#issue-350647240.
I'm not good at Ruby. Could anyone improve this issue ?

[code]

I appriciate your reading to the end.

[2018-09-27 06:03] HippocampusGirl opened #84 "Cannot compile with Arduino IDE and avr-gcc 8.2.0"
I'm having an issue with building an Arduino app from the IDE. I get the following output:

[code]

However, the error does not happen when I run the failed command in the terminal. I would appreciate any ideas or feedback, maybe I need to move folders around? Thank you!

[2018-09-29 04:59] rraihansaputra opened #85 "Download link of avr-libc is down; cannot install avr-gcc"
[code]

The mirror linked from homebrew is down for me (https://mirror.freedif.org/GNU-Sa/avr-libc/avr-libc-2.0.0.tar.bz2). I have obtained the correct file from http://download-mirror.savannah.gnu.org/releases/avr-libc/ but don't know what to do with it.

[2018-09-29 08:43] #85 closed, assigned to nobody

[2018-09-29 08:43] ladislas commented on #85
should work now, let me know.

[2018-09-29 08:53] #83 closed, assigned to nobody

[2018-09-29 08:53] ladislas commented on #83
it should be working now. let me know if not.

[2018-09-29 09:02] ladislas commented on #84
I'm not sure I understand.

If you are trying to compile from the IDE with avr-gcc installed from homebrew it's not going to work.
The IDE ships its own version of avr-gcc and trying to use a different one will break stuff. You don't want to dive into that as they have their own logic of f*cking things up and doing it their way.

My advice is:

- drop the Arduino IDE completely, it's a very poor I

[2018-09-29 09:03] ladislas commented on #82
I'm not using simarv myself and don't have much time to investigate.

@patrickelectric feel free to propose a PR with a fix.

Closing the issue for now.

[2018-09-29 10:38] rraihansaputra commented on #85
I did fork it and changed the link as you did on your fix https://github.com/osx-cross/homebrew-avr/commit/75e059ef17072d2f7d75e228126b070bd1d43c0c so it should work. Thanks!

[2018-09-29 11:42] patrickelectric commented on #82
the problem still exist and in my mind the issue should be open until a solution appears, I don't see why closing, this will only make people to create new issues based on this one.

Besides that, I can take a look if someone points the way to go.

[2018-09-29 11:53] ladislas commented on #82
I reopened it but as I said I don’t know how to fix this and I don’t have time.

[2018-09-30 09:07] ladislas commented on #82
I can confirm that your fix fixed it 👍

[2018-09-30 09:10] ladislas commented on #82
I've changed the formulae to point to your fix while we wait for the PR to be accepted here: https://github.com/buserror/simavr/pull/306

[2018-11-03 21:02] Gadroc opened #86 "avarice install fails due to unnecessary chdir"
When building on Mac OS Mojave avarice fails after fetching source code with the following error:

Error: An exception occurred within a child process:
  Errno::ENOENT: No such file or directory @ dir_chdir - avarice

Removing the chdir avarice lines from the avarice.rb file fixes the issue.

[2018-11-05 10:07] #84 closed, assigned to nobody

[2018-11-05 10:08] ladislas commented on #86
I'm not sure I understand. Can you make a pull request with the changes please?

[2018-11-06 13:39] patrickelectric commented on #82
Is someone maintaining https://github.com/buserror/simavr ?

[2018-11-10 08:09] ladislas commented on #82
@patrickelectric doesn't seem so...

If you want, we could fork it under osx-cross and apply your changes here.

[2018-11-23 03:39] kaijajan opened #87 "brew install avr-gcc@6 fails on mojave"
I attemped to install avr-gcc 6.4 on mojave with brew, but the following error occurs while doing make
anyone use avr-gcc 6.4 on mojave and successfully installed?

Build error:

[code]

Brew Config:

[code]

[2018-11-23 10:32] #87 closed, assigned to nobody

[2018-11-23 10:32] ladislas commented on #87
@kaijajan it should be good know, can you test it?

[2018-11-23 13:31] kaijajan commented on #87
it works now, thank you so much =D

[2018-12-03 15:30] pinglivin opened #88 "Fails to install node on High Sierra"
This is task depends of #76.
When I installed node using Homebrew, I get same error as was wroten in task (https://github.com/osx-cross/homebrew-avr/issues/76#issuecomment-368309600).
I used command
`brew link --overwrite --dry-run node`
that resolved this problem. After when I apply this command and repeat `brew doctor` I get message

Please note that these warnings are just used to help the Home

[2018-12-03 15:41] ladislas commented on #88
As you mentioned, this issue was already investigated but no solution was found.

The OP suggested building from source: https://github.com/osx-cross/homebrew-avr/issues/76#issuecomment-376019810

I have node and avr-gcc installed with absolutely no issues.

Try uninstalling node and untapping homebrew-avr, then tap again and try installing avr-gcc before node.

`brew upgrade` might also help.

[2019-01-30 09:39] ladislas commented on #88
No updates here, closing the issue for now. Feel free to reopen if the problem persists.

[2019-01-30 09:39] #88 closed, assigned to nobody

[2019-01-30 09:39] ladislas commented on #86
No updates here, closing the issue for now. Feel free to reopen if the problem persists.

[2019-01-30 09:39] #86 closed, assigned to nobody

[2019-02-03 02:05] cgkades opened #90 "avr-gcc 8.2.0 has a known bug"
Hey guys, looks like 8.2.0 has a bug that causes issues when trying to flash a keyboard with qmk and avrdude. I tried to downgrade in brew but either I'm doing something wrong, or older versions aren't available.

Here's a link to a discussion about it https://github.com/qmk/qmk_firmware/issues/3657

[2019-02-18 18:47] frankimhof opened #91 "brew install avr-gcc fails on Mojave"
### Error when installing

[code]

### Environment

[code]

[2019-02-19 09:14] ladislas commented on #91
Well it does build perfectly well on my machine using macOS Mojave as well.

Have you tried `brew remove`-ing `avr-gcc`, `brew cleanup`-ing cache and starting again?

Was a previous version installed? Can you list all your installed formulae?

[2019-02-19 12:32] frankimhof commented on #91
Hey
Thanks for your fast answer.
### Cleanup and Remove

Error: No such keg: /usr/local/Cellar/avr-gcc
$ brew cleanup
Removing: /Users/frankimhof/Library/Caches/Homebrew/node--11.6.0.mojave.bottle.tar.gz... (12.7MB)
Removing: /Users/frankimhof/Library/Logs/Homebrew/icu4c... (68B)
Removing: /Users/frankimhof/Library/Logs/Homebrew/node... (68B)

but it still throws the same error when installing

##

[2019-02-19 15:41] ladislas commented on #91
I've never used crosspack, but that might be.

as you don't have a lot of formulae, can you remove them all and try again?

[2019-02-20 12:23] frankimhof commented on #91
### Uninstall

Uninstalling avr-binutils... (157 files, 12.4MB)
Uninstalling gmp... (18 files, 3.1MB)
Uninstalling icu4c... (254 files, 68.4MB)
Uninstalling isl... (71 files, 3.9MB)
Uninstalling libmpc... (12 files, 354.2KB)
Uninstalling mpfr... (28 files, 4.6MB)
$ brew cleanup
$

But I still have the same errors. When installing.

[2019-02-20 14:03] ladislas commented on #91
could you run `brew install avr-gcc --verbose` and share the whole output through [pastbin](https://pastebin.com/) or equivalent?

[2019-02-20 18:13] frankimhof commented on #91
yes, here is the link
https://justpaste.it/5eprr

[2019-02-22 11:07] ladislas commented on #91
I can see the error but I don't understand where it comes from and I can't reproduce on my system...

Was it working before? Do you have the latest Xcode and Command line Tools installed? What computer are you using? What is the ouput of `brew doctor`?

[2019-02-26 15:42] frankimhof commented on #91
I never tried it before. Here is my information:

### System
MacBook Pro 5.3
Intel Core 2 Duo
2.8 GHz
### MacOS and XCode
MacOS 10.14.2 (Dosdude1-Version, because I have an old Mac)
XCode 10.1 with developper command line tools installed.

### Brew Doctor

Please note that these warnings are just used to help the Homebrew maintainers
with debugging if you file an issue. If everything you use Homeb

[2019-02-26 15:50] ladislas commented on #91
Thanks!

As stated by brew doctor, you have a lot of things in your path that might confuse the installation of avr-gcc.

unless you absolutely need them, I would remove crosspack and all the node's files and even uninstall brew completely and start from scratch.

https://docs.brew.sh/FAQ#how-do-i-uninstall-homebrew

[2019-02-26 17:36] ladislas commented on #90
Hi @cgkades,
Are you trying to downgrade to 8.1.0 or to 7.x.x?

For the first, you can edit the forumula, change the link and the sha256.

For the second, you can install it using `brew install avr-gcc@7`

GCC 8.3.0 is out, do you know if the bug is fixed?

[2019-02-26 17:42] ladislas commented on #82
@patrickelectric as your PR has been merged, the issue is now resolved.

Thanks for your help! :)

[2019-02-26 18:10] cgkades commented on #90
I was just trying to downgrade to any other version, and for some reason I just wasn't finding that avr-gcc@7 syntax. I do not know for sure if the bug was fixed in 8.3, sorry

[2019-02-26 18:50] patrickelectric commented on #82
You can check the status here:
https://github.com/buserror/simavr/pull/306

Since this last merge is from my personal simavr fork with multiple personal merges.

[2019-02-27 07:05] ladislas commented on #90
Alright! I'll close the issue and update to 8.3.0. if the issue persist let us know!

[2019-02-27 07:05] #90 closed, assigned to nobody

[2019-02-27 07:08] ladislas commented on #82
Oh yeah my bad!

[2019-03-02 15:18] frankimhof commented on #91
removed all brew files with

uninstalled crosspatch
uninstalled brew
uninstalled node and deleted files in /usr/local that had to do with node

reinstalled brew and node (with brew) which was successful.

Your system is ready to brew.

tried reinstalling avr-gcc but it still gave me the same errors.
Here is the --verbose output, if you want to have a look.
https://justpaste.it/5vgmq

If you have a

[2019-03-03 21:21] ladislas commented on #91
This issue seems to be this one:

[code]

You can try the following solution: https://stackoverflow.com/a/13025807/2205264
But I'm not sure it will help.

[2019-03-04 12:55] scottsuch opened #93 "8.3.0 keeps re-installing"
If I run `brew update; brew cask upgrade` this package will install over and over again.

[code]

[2019-03-05 12:41] ladislas commented on #93
Can you share the output of:

- [x] `brew config`
- [x] `brew doctor`
- [x] `brew list`
- [x] `brew cask list`

[2019-03-05 13:36] scottsuch commented on #93
I just performed an uninstall and reinstall yesterday and now am unable to reproduce this behavior. Sorry bothering you with this.

[2019-03-05 13:36] #93 closed, assigned to nobody

[2019-03-05 14:46] ladislas commented on #93
no worries! glad it's fixed :)

[2019-03-14 22:54] ninyawee commented on #91
This works!

[code]

[2019-03-15 09:18] ladislas commented on #91
@CircleOnCircles thanks for the feedback!

were you having the same issue as @frankimhof?

I don't understand why the normal installation doesn't work for you whereas it does work for me.

[2019-03-20 13:05] ladislas commented on #91
I've tried reinstalling on a brand new computer with no issues.
As I can't reproduce, I'll close the issue for now.

Feel free to reopen if you have more information.

[2019-03-20 13:05] #91 closed, assigned to nobody

[2019-03-21 13:38] ladislas opened #96 "building avarice fails"
building avarice fails with the following error:

[code]

@carlossless - you were the one providing us with the formula in the first place, any idea what we should change to fix this?

[2019-03-21 13:46] #96 closed, assigned to nobody

[2019-03-21 13:47] ladislas commented on #86
@Gadroc I've made the changes you asked and it's working again, thanks for your help! 👍

[2019-03-21 13:47] ladislas commented on #96
@carlossless no need, I've found the issue :)

[2019-03-21 15:10] ladislas opened #97 "Removing options to use gmp, mpfr & mpc"
Doing some cleanup and looking at the code of the formulae, we provide options to build avr-gcc with gmp, mpfr and mpc.

Those 3 are needed to build gcc/avr-gcc but they won't (and cannot) be used when building source code for avr, as stated in the documentation:

In other words, the option is useless, so I'm taking the liberty of removing them from the formulae.

I'm also in favor of forcing c++

[2019-03-21 17:51] #97 closed, assigned to nobody

[2019-03-22 08:31] exoizzy opened #98 "avr-gcc@7"
im new to homebrew and terminal so bear with me. im trying to start working on a custom mechanical keyboard and was following these instructions [https://docs.qmk.fm/#/getting_started_build_tools](https://docs.qmk.fm/#/getting_started_build_tools) and got to the `brew install avr-gcc@7` step and it gave me this:

no clue what any of this means but I dont know why there would be errors like this he

[2019-03-22 10:44] fauxpark commented on #98
This is probably due to https://github.com/osx-cross/homebrew-avr/commit/2b127ae20f66ae7ec0defdafa9b2cbffc97c144a, in particular the removal of the patch that adds some ISL `#include`s.

[2019-03-22 14:53] ladislas commented on #98
@exoizzy 4560f36 should fix the issue. Can you try it with:

[code]

[2019-03-23 09:38] rumbogs commented on #98
@ladislas: this isn't working, the local repo can't pull the branch for some reason 🤔

[2019-03-23 17:00] matarrubia commented on #98
The above did not work for me. I had to temporarily install `isl` `0.19` to work around this.

[2019-03-24 15:25] henrikjonhed opened #101 "avr-gcc@7 can't build on Mojave"
Hi!

I get the following error when I try to install avr-gcc@7:

[code]

I guess this might be a dup issue of #98. I tried to apply the patch in the instructions of that issue, but it didnt help

[2019-03-24 22:26] si-em commented on #101
I'm also having issues with this – and the instructions in the other issue(s) didn't work for me either. Mojave 10.14.3.

My error looks slightly shorter though:
[code]

[2019-03-25 03:38] bonty commented on #101
Hello, I'm getting the same error as @semonje
In my environment(Mojave 10.14.3), I've fixed this error applying the patch below

https://github.com/osx-cross/homebrew-avr/commit/ef705e991484b05742037a7ec2137fd346fb2fd4#diff-530f092d20e9f2db266aa3cc4858ae7cb

[2019-03-25 09:00] ladislas commented on #98
it should be working with 4560f36a976c4acbc1a472ebe5c06d43ccac7bc3 that I just merged into master.

I had removed the patch thinking it was fixed but turns out it is not yet.

I'll let you try and let me know if is works now.

[2019-03-25 09:00] ladislas commented on #101
it should be working with 4560f36a976c4acbc1a472ebe5c06d43ccac7bc3 that I just merged into master.

I had removed the patch thinking it was fixed but turns out it is not yet.

I'll let you try and let me know if is works now.

[2019-03-25 09:02] ladislas commented on #101
It does compile on my machine:

[code]

<img width="840" alt="Screenshot 2019-03-25 10 01 12" src="https://user-images.githubusercontent.com/2206544/54907088-06cbaf00-4ee5-11e9-9e78-5f4c7dd3dc37.png">

[2019-03-25 09:02] ladislas commented on #98
It does compile on my machine:

[code]

<img width="840" alt="Screenshot 2019-03-25 10 01 12" src="https://user-images.githubusercontent.com/2206544/54907088-06cbaf00-4ee5-11e9-9e78-5f4c7dd3dc37.png">

[2019-03-25 12:47] #98 closed, assigned to nobody

[2019-03-25 12:47] #101 closed, assigned to nobody

[2019-03-25 12:48] ladislas commented on #98
I've updated gcc to 7.4.0 and the problem has been fixed, the patch is not needed anymore.

[2019-03-25 12:48] ladislas commented on #101
I've updated gcc to 7.4.0 and the problem has been fixed, the patch is not needed anymore.

[2019-03-25 20:44] si-em commented on #101
Awesome, thanks!

[2019-03-25 22:18] henrikjonhed commented on #101
Works great now, thanks!

[2019-03-27 10:04] ladislas opened #103 "Adding CI & Bottles to osx-cross/avr with Azure Pipelines"
Hi @osx-cross/team --

These past few days, I've been updating some of the formulae and I've been trying to implement CI and Bottles generation for our tap to reduce the time it takes to install avr-gcc.

I was happily surprised to see that a lof of people are relying on our tap and that when something breaks, they let us know, as #98 and #101 have shown.

I first tried using Travis-CI but quickly

[2019-03-27 10:21] larsimmisch commented on #103
Very cool! Thanks!

[2019-03-27 10:46] leojrfs commented on #103
Looks great! Thank you!

[2019-03-27 20:28] carlossless commented on #96
@ladislas cool, glad you got it working!

[2019-04-18 13:06] ladislas commented on #103
Quick update 🍺

I've set up the Azure Pipeline and Bintray organizations to manage the process and bottles + patches (instead of using gist).

I've managed to build and publish a bottle for avr-binutils locally but I'm still figuring things out, the documentation on this subject is not that great and there seems to be a lot of concepts that are clear for homebrew developers but a bit cryptic for p

[2019-06-05 20:24] ladislas commented on #103
@osx-cross/team Good news! 🎉

Azure Pipelines is up and running a bottles are already available for avarice, binutils and avr-gcc 9.1.0.

I'll keep adding the rest of the formulae.

The process is fully automated so any PR with a version bump will have its bottles update. A maintainer will then need to run `brew pull --bottle`

Everything is explained here: https://github.com/ladislas/homebrew-gre

[2019-06-05 20:24] #103 closed, assigned to nobody

[2019-06-05 20:51] ladislas commented on #74
@DagAgren Good news, bottles (binaries) are now available :)

[2019-07-30 00:55] dawidd6 opened #123 "Merge to homebrew-core"
Is it possible to merge this tap to `homebrew/homebrew-core`?
Is it something you would like to do or not and why?

[2019-09-26 14:48] mokus0 opened #124 "avr-gcc includes outdated avr/io128a1u.h"
When attempting to "upgrade" from Microchip's ancient avr-gcc (version 5.4.0), I find that I can no longer compile code for ATXMEGA128A1U because the avr-gcc package here includes a part-support header (avr/io128a1u.h) from 2010 - 5 years older than the one Microchip is shipping.  This older version has several serious issues such as missing and misspelled constants.

I can work around it by inclu

[2019-09-26 14:59] larsimmisch commented on #124
Yes, thank you! But we are the wrong project to report that to. I think this bug should be filed for avr-libc: http://savannah.nongnu.org/projects/avr-libc/

Can you file it there?

[2019-09-26 14:59] #124 closed, assigned to nobody

[2019-09-26 15:16] mokus0 commented on #124
Thanks, I'll look into that.

[2019-09-26 15:39] ladislas commented on #123
avr-gcc is a very specific use of gcc with a lot of specific flags. brew is trying to move away from specific options and provide software that is usable for everyone.

a bottle allows us to do what we want, to change often and to not go through the review process of core each time.

so no, there is no plan to merge this with core :)

[2019-09-26 15:39] #123 closed, assigned to nobody

[2019-09-26 21:32] larsimmisch commented on #124
Please do. Jörg will probably ask you for a patch, though.

[2019-10-08 21:47] andrewlvovsky opened #129 "macOS 10.15 Catalina Support"
Not sure if this is where I should ask, but is there a timeline for Catalina support?

[2019-10-09 07:42] ladislas commented on #129
as soon as it's available in Azure Pipelines.

for the moment you can compile from source. it should take around 40 minutes on a MacBook Pro Retina, 13-inch, Early 2015.

[2019-10-09 07:42] #129 closed, assigned to nobody

[2019-10-09 07:44] ladislas commented on #129
FYI -- https://github.com/microsoft/azure-pipelines-image-generation/issues/1277#issuecomment-539598428

[2019-10-14 02:17] anatol opened #130 "Port avr-size patch to 2.33.1"
Binutils modified size.c a lot and now it conflicts with the patch referenced here

https://github.com/osx-cross/homebrew-avr/blob/e1df340224bf42372fb922e408e516c484056dce/Formula/avr-binutils.rb#L20

Arch Linux made an attempt to port it over to 2.33.1 and the current result is here
https://git.archlinux.org/svntogit/community.git/tree/trunk/avr-size.patch?h=packages/avr-binutils

It would be gre

[2019-10-14 07:54] ladislas commented on #130
I'm okay with doing that. Can you locally test that the patch runs without any errors on 2.33.1?

[2019-10-14 16:33] anatol commented on #130
The patch compiles fine with binutils 2.33.1. I tested `avr-size` locally and it looks great so far. Arch Linux also uses this patch with the test version of `avr-binutils`.

[2019-10-19 18:09] MattPhantastic opened #131 "Build Failed"
I used to run with larsimmisch's XAVR for Xcode until I got a new Mac and had to install OSX-Cross/AVR instead. The old version used to work fine, but the new version won't seem to build my projects, let alone upload them. I tried downloading the official Arduino IDE and run a simple blink program, which seemed to both build and upload fine, to the right board, through the right port and everythin

[2019-10-20 09:25] ladislas commented on #131
Could you share your system info with us please? OS, Xcode version, brew version, avr-gcc/avrdude version, etc.

XAVR and osx-cross/avr are not at all related:

- https://github.com/jawher/xavr is an xcode template/projet to write avr code in Xcode -- it has not been updated since 2016
- https://github.com/osx-cross/homebrew-avr (this repo) is just a way to install avr-gcc and tools to build avr c

[2019-10-24 04:10] MattPhantastic commented on #131
Thank you for the fast reply (something I can't say to have reciprocated)!

OS: **macOS 10.13.6 High Sierra**
Xcode: Version 10.1 (10B61)

And I pretty much just installed brew and all the rest last week, so they should be up to date. Though, a command to check the version would be neat to know in the future.

Running a `brew doctor` I get the following:
`Your system is ready to brew.`

I figured

[2019-10-24 04:51] MattPhantastic commented on #131
It's worth noting that, by accidentally selecting the wrong board in the Arduino IDE, I got the same error as in Xcode. So perhaps Xcode isn't recognising the `MCU`?

Also swopping between `cu` and `tty` doesn't do much. I Googled my way to the difference but didn't really understand what I was reading. Mind clarifying the difference for me as well? ^^;

[2019-10-24 07:48] MattPhantastic commented on #131
Food for thought: Could Xcode be lacking a target to upload to? I just see "iMac" under all profiles: All, Upload, Build, Clean.

[2019-10-24 07:56] MattPhantastic commented on #131
My colleague has Xcode version 11.1 (11A1027), and the template won't even show up in Xcode where mine is after running the three lines in the Terminal just now. There were no error messages during the installation.

EDIT: In fact, downgrading his Xcode version didn't do anything. He can't get the template to show up under New Project!

[2019-10-24 14:02] ladislas commented on #130
Thanks @anatol! I'll change that asap unless you want to make a PR.

[2019-10-24 14:19] ladislas commented on #131
I have never used Xcode to do what you are doing, neither have I used the xavr project template, so I can not help you and it is outside of the scope of this repository.

On a personal note, I'm not sure Xcode is best suited for what you're trying to do. You should take a look at [sudar's Arduino Makefile](https://github.com/sudar/Arduino-Makefile) and my [Bare Arduino Project](https://github.com/

[2019-10-24 19:40] MattPhantastic commented on #131
Thanks a lot!

1. Pasting your line in the Terminal worked smoothly.
2. Finding the same line in the MakeFile in my project and correcting it seemed to also solve the issue with Xcode's upload issue.

Pasting an excerpt from my MakeFile (if anyone should have the same issue):
[code]

So I simply had to swap this line:
`AVRDUDE_FLAGS = -p $(MCU) -P $(AVRDUDE_PORT) -c $(AVRDUDE_PROGRAMMER)`

For thi

[2019-10-24 20:13] ladislas commented on #131
I'm glad you solved the issue! :)

There is no Xcode project template in this repository. You must have gotten it from somewhere else that is not related to osx-cross/avr.

Closing the issue now as it has been resolved.

[2019-10-24 20:14] #131 closed, assigned to nobody

[2019-10-25 18:39] MattPhantastic opened #132 "Xcode Template??"
Hi again,

I wanted to hear if you could explain to me why an Xcode template is installed when I run:
[code]

You said no template is associated with this repository. And I got a wholely new iMac and erased the entire hard drive before installing anything on it. Installing Xcode _without_ the template, and after this line very specifically `brew tap osx-cross/avr`, gave me a new template in Xcode

[2019-10-25 20:15] ladislas commented on #132
I have absolutely no idea.

Are you using Time Machine? Or any sort of backup method that could have reinstalled the template on your new mac?

Can you share some screenshots from xcode or anything that could be useful? The steps you took? Can you share the output of `brew list`, `brew cask list` and `brew doctor`?

This is the least strange thing of all, this is exactly what is supposed to happen

[2019-11-03 16:08] ladislas commented on #132
Closing the issue now as it's clearly not related to osx-cross/avr

[2019-11-03 16:08] #132 closed, assigned to nobody

[2019-11-27 17:18] ladislas commented on #82
@patrickelectric buserror/simavr#306 has been closed...

any chance we could fix that in the formula? and a line to do this `$(MKDIR) $(DESTDIR)/lib/pkgconfig`?

[2019-11-29 10:33] ladislas commented on #130
@anatol I tried updating our patch to use the arch linux version but it failed because of different headers in the diff.

the error is here: https://dev.azure.com/osx-cross/homebrew-avr/_build/results?buildId=570&view=logs&j=f48822f6-9f12-56e2-121b-f56c97331bbb&t=d24f701f-ca91-5a58-1360-f8e5d6da5696&l=139

I fixed it by changing the header and publishing the patch on bintray.

If you'd like to wor

[2019-11-29 15:54] anatol commented on #130
ArchLinux uses `patch -p1 < avr-size.patch` to patch in the file. You could either:
* use `-p1` instead of `-p0` command line option
* modify lines 3/4 in my patch and remove filename prefixes `a/` and `b/`

[2019-11-29 16:30] ladislas commented on #130
I'll try that.

[2019-11-30 09:07] #130 closed, assigned to nobody

[2019-11-30 09:10] ladislas commented on #130
So actually is was a wrong config on our side, the formula was passing `:p0`. Removing that defaulted to `:p1` and fixed the issue.

Thanks for the help @anatol!

[2019-11-30 17:47] ladislas commented on #129
@borninla I just upgraded to Catalina with a clean install and when running `brew install avr-gcc` it installed the Mojave bottle without any issues.

Seems to be working fine for the moment.

as soon as Azure Pipelines adds Catalina support, I'll update the build process.

[2019-12-31 08:16] drashna opened #136 "avr-gcc is broken due to isl 0.22 update"
Brew updated isl to 0.22, and avr-gcc (8, and 9, at least) require 0.21.

[code]

[2019-12-31 18:58] ubidefeo commented on #136
boom!
same here :(

[2019-12-31 19:20] ubidefeo commented on #136
temporary solution, @drashna
you might need some extra tools, I have a ton of development stuff on my machine.
* go to http://isl.gforge.inria.fr
* download the 0.21 (.xz)
* unpack it (double click)
* enter the directory in terminal
* `./configure`
* `make check`
if everything works you'll get something like this
[code]

if tests are good, just go `make install`
if it all works out just `brew unin

[2019-12-31 20:00] drashna commented on #136
I just forcibly rolled back `homebrew-core`, and disabled autoupdate.   Your solution is better, though.  However, neither are "good" solutions.

[2019-12-31 21:39] ladislas commented on #136
I'm out on holiday with my family with no computer. I'll update the formula when I get back next Monday.

[2019-12-31 22:28] drashna commented on #136
No worries, and enjoy your holiday!

[2020-01-01 02:52] darthburrito commented on #136
updating the reference worked for me
[code]

[2020-01-01 14:56] ubidefeo commented on #136
@darthburrito
I saw this as a possible fix on some other place, but it's an even dirtier trick in my opinion :D

[2020-01-02 21:50] drashna commented on #136
@darthburrito you may also need to do that for `lto1` as well.  At least, I have had to.

[2020-01-05 07:57] ladislas commented on #136
@drashna @ubidefeo I think the easiest solution for now is to uninstall avr-gcc and build from source with `brew install avr-gcc --build-from-source avr-gcc`.

I'm working on fixing the issue: the CI should have caught the broken linkage and fix it but it's not.

[2020-01-05 16:36] ladislas commented on #136
issue is now fixed with the latest revision bump, closing now. :)

[2020-01-05 16:36] #136 closed, assigned to nobody

[2020-01-05 16:38] mys721tx commented on #136
@ladislas Is there an ETA for the GCC 8 bottle?

[2020-01-05 18:24] ladislas commented on #136
@mys721tx working on it, still getting some errors with those.

[2020-01-05 18:44] ladislas commented on #136
@mys721tx should be good now! let me know if you have any issues.

[2020-01-08 07:21] ladislas commented on #82
@patrickelectric closing the issue now. Feel free to open a PR with a fix.

[2020-01-08 07:21] #82 closed, assigned to nobody

[2020-01-08 11:48] patrickelectric commented on #82
Well, the simavr dev does not want to fix it and also does not want to merge my PR with the fix. No idea about the actual status and I'm not using it anymore.

[2020-01-09 10:04] ladislas commented on #82
@patrickelectric as I don't like having a broken formula, I decided to tackle the bug. The solution was actually super simple: set `ENV.deparallelize` before calling `make`.

https://docs.brew.sh/Formula-Cookbook#bad-makefiles

It now works like a charm.

[2020-02-22 09:11] ladislas opened #168 "CI - update pipelines to use our own brew-test-bot fork"

[2020-02-22 09:12] ladislas opened #169 "CI - build formulae from source as well to catch patch issues"

[2020-02-22 09:20] ladislas opened #170 "CI - move to Github Actions"
see https://github.com/Homebrew/homebrew-test-bot/pull/325

[2020-02-22 09:21] ladislas opened #171 "avr-binutils - update avr-size patch sha"

[2020-02-22 15:32] #168 closed, assigned to ladislas

[2020-02-22 21:49] #169 closed, assigned to ladislas

[2020-02-23 21:10] ladislas commented on #171
closed with 691eb1e5eb06a4d14cdc0c6a095672b081afd73e

[2020-02-23 21:10] #171 closed, assigned to ladislas

[2020-03-18 13:52] burnpanck opened #176 "New tiny (atxmega3 core) such as ATtiny817 seem to be missing"
Since AVR-GCC 8, the new tiny are supported: https://gcc.gnu.org/gcc-8/changes.html
If I do a `find  /usr/local/Cellar/avr-gcc -iname "*attiny817*"` I do get the following:
[code]
That specs file refers to a `crtattiny817.o` which seems to be missing.
If I instead search e.g. for the "ATxmega64a3u", I get
[code]
In fact, `/usr/local/Cellar/avr-gcc/9.2.0_1/avr/lib/avrxmega3` seems to be completely

[2020-03-18 14:30] ladislas commented on #176
In your example you're using avr-gcc 9.2.0.

Have you tried installing avr-gcc 8.x.x to see if it works?

[code]

[2020-03-18 17:16] burnpanck commented on #176
I had not, as support for new devices is usually cumulative; no reason to remove support for recent devices after they have just been added. Also, the presence of the specs file indicates that GCC thinks that the device is supported - the install is just broken in that it does not contain all the necessary files.

Anyway, I have now tried it with`avr-gcc@8` and I do get the exact same picture:
[co

[2020-03-18 18:44] burnpanck commented on #176
To be concrete, compilation of a simple empty loop `main()` with `avr-g++ -mmcu=attiny817 main.cpp -o main.elf ` fails as follows:
[code]
The same file compiles successfully with e.g. `-mmcu=atxmega64a3u`.
Compilation against a random unsupported MCU fails differently:
[code]

[2020-03-19 09:26] ladislas commented on #176
It might be the same kind of issue than the ones #105 fixed. I've also found this, maybe it can be helpful:

Could you try the patch and if it works make a PR? The one I referenced is a good example.

[2020-03-23 08:33] Feuerwerk commented on #176
Hi

If you need help i can support.

Greetings
Chris

[2020-03-23 10:14] ladislas commented on #176
Thanks a lot @Feuerwerk! :)

[2020-03-23 11:10] burnpanck commented on #176
@ladislas: Thanks for identifying the patch! So it really seems like an upstream bug, not a packaging problem.
Unfortunately, I'm quite tight on time these days. I probably won't be able to give it a try before April.

[2020-03-23 12:56] fauxpark opened #182 "Linker fails on avr-gcc 8.4 & 9.3"
After updating to 8.4, avr-ld produces this error:
[code]

and when building for AT90USB1286:
[code]

[2020-03-23 13:00] ladislas commented on #182
Yes, I've got the same issue, I'm investigating.

[2020-03-23 14:54] ladislas commented on #182
I've found the issue, it was the `--disable-multilib` option. I'll push a fix asap.

[2020-03-24 07:22] #182 closed, assigned to nobody

[2020-03-24 08:29] fauxpark commented on #182
Building succeeds again with the new bottles now - thanks for your hard work @ladislas :)

[2020-03-24 18:34] ladislas opened #187 "Investigate arduino patches"
https://github.com/arduino/toolchain-avr provides patches for the toolchain. Investigate if it's necessary for us to use them.

[2020-03-25 14:23] matsutakehoyo commented on #182
@fauxpark How did you  install with the new bottles? I tried reinstalling but I think it's just installing the same thing

edit: never mind I think I erased the cashe and then it worked.

[2020-03-29 22:29] myraz commented on #182
@matsutakehoyo I think i have the same problem. May I ask you how you erased your cashe?

[2020-03-30 02:13] matsutakehoyo commented on #182
@myraz when I tried to reinstall I got a prompt saying something like
[code]
I just when to the directory that Already downloaded points to, found the downloaded file and manually deleted it. I think `brew cleanup` is supposed to remove these files, but on mine it is not.

Hope this helps

[2020-03-30 06:35] ladislas commented on #182
@myraz

[code]

[2020-03-30 06:54] myraz commented on #182
@matsutakehoyo @ladislas . Thank you very much for the quick help! At first it did not work but after unlinking my old avr-gcc and relinking, it now works!

[code]

[2020-03-30 07:21] ladislas commented on #182
Yes, you cannot have two different versions of gcc linked at the same time.

avr-gcc will by default me linked and available in path. If you want another version linked, you must unlink the main one and manually link a @x version.

[2020-04-22 18:33] metropt commented on #182
I tried the above suggestions but I got no success compiling.

[code]

[2020-04-22 19:43] ladislas commented on #182
@metropt have you tried `brew remove avr-gcc` and then `brew install avr-gcc`?

[2020-04-22 22:37] metropt commented on #182
@ladislas `uninstall` and `install` didn't solve but `remove` and `install` solve the problem hmm

[2020-04-22 22:50] metropt opened #188 "avr-gcc: error: unrecognized command line option '-mshort-calls'"
Hi,

Today after I got a linker error on the most recent version of avr-gcc I tried an older version, 5.5.0, and, since it is the same version some of my colleagues are using on other OS I would like to use this version, however I got this unrecognised command.

[code]

After some research I found that `-mshort-calls` was deprecated on 4.7 version. I can't understand how is this flag is set.

[2020-04-23 07:23] ladislas commented on #188
Have you tried a simple grep/ack/ag in the directories you include?

It's defined here:

[code]

Line 70:

[code]

This thread might help you find an alternative and the rationale behind removing the option in the first place:

[2020-04-23 07:23] #188 closed, assigned to ladislas

[2020-04-23 09:21] metropt commented on #188
Thank you

[2020-04-23 09:26] metropt commented on #176
I found the same today when I tried to use avr-gcc 5.5. With avr-gcc 8+ it is working.
[code]

[2020-04-23 10:56] burnpanck commented on #176
That  seems like a different issue to me. The new atxmega3 have really been added to avr-gcc around version 8 as you observed. The issue I encountered was in fact in `avr-libc`, where those devices are still not supported, except for a hanging pull-request. So I'm surprised that you say it does work for you with avr-gcc 8. Could you post the command-line you used there? I do note that you add incl

[2020-04-23 14:46] metropt commented on #176
The Atmel toolchain comes with GCC 5.4.0 https://www.microchip.com/mplab/avr-support/avr-and-arm-toolchains-c-compilers and I can run the above code. From what I understand you can give the compiler a device_specs with -B.

avr-gcc@8 works if I pass the -B option.

[2020-04-26 08:30] burnpanck commented on #176
Hey @metropt, thank you for your answer! Could you nonetheless please post the exact full command-line that did work for you?

Note that the `-B` flag does not actually set device specs, but rather it prepends a number of directories to the compiler's search paths in the various build passes - including when looking for specs.

I was able to download the device pack from atmel from packs.download.

[2020-04-26 09:06] ladislas commented on #176
I would avoid at all costs mixing toolchains. Either go all the way with [Atmel toolchain](https://www.microchip.com/mplab/avr-support/avr-and-arm-toolchains-c-compilers) or with with this one.

[2020-04-26 11:12] metropt commented on #176
Thank you, with this toolchain I'm able to build the code only with GCC 9+, is that correct?

[2020-05-13 05:32] luqasz opened #189 "GCC 10 is out"
Hi.

Can you please update formula for new [GCC 10 ](https://gcc.gnu.org/gcc-10/changes.html) ?

[2020-05-13 05:36] luqasz commented on #176
[GCC 10](https://gcc.gnu.org/gcc-10/changes.html) added some of them:

[2020-05-13 19:05] burnpanck commented on #176
@luqasz: [GCC 8](https://gcc.gnu.org/gcc-8/changes.html) added the 1-series long before:

The problem discussed in this issue is that [avr-libc](https://www.nongnu.org/avr-libc/), which is a separate project often bundled with avr-gcc (for example here in this `homebrew` package), was last released at version 2.0 four years ago and therefore does not support those new devices.

@ladislas has ident

[2020-05-13 19:28] ladislas commented on #189
It's quite a big release and it's so fresh, I'm considering adding it as a `version` with `avr-gcc@10` to give people time to hop in and test it.

when it becomes clear that it doesn't bring new bugs to avr, I'll move it to the main version.

[2020-05-14 11:46] luqasz commented on #189
Sure. No problem. Just a note.

[2020-10-12 15:55] obviouslygene opened #191 "Having issues compiling qmk firmwares."
MBP 16" 2019
macosx 10.15.7

I've tried reinstalling qmk environment.
Re-cloning qmk repo.

No go.

[code]

[2020-10-12 17:48] ladislas commented on #191
Not sure I can help, you should report the issue to QMK.

cc @fauxpark

[2020-10-12 17:52] fauxpark commented on #191
I was actually the one who referred @obviouslygene here. I can't reproduce this myself, it's not a QMK issue.

[2020-10-12 18:01] ladislas commented on #191
@fauxpark ah sorry about that then!

I've never seen the issue and I'm not using avr-gcc as much as I used to in the past and I'm using avr-gcc@9.

@obviouslygene can you share a simple project with the issue that I can clone and test locally?

what's the full output of `brew doctor`?

how did you install avr-gcc@8?

have you tried `brew remove avr-gcc@8 && brew update && brew upgrade && brew inst

[2020-10-12 19:58] ladislas commented on #191
quick update: I've reinstalled avr-gcc@8, brew linked the binaries and rebuilt all my previous projects with it, I've got no errors and things run smoothly.

[2020-10-13 14:12] obviouslygene commented on #191
I've tried it with another mac and it works. I am not sure what is going on here either.

[2020-10-13 14:13] obviouslygene commented on #191
[code]

[2020-11-17 14:44] alxgarza opened #193 "OS X Big Sur issues"
After upgrading to OS 11 (Big Sur) and updating home-brew I get the following error:

lto1: fatal error: bytecode stream in file 'main.o' generated with LTO version 6.0 instead of the expected 8.1
compilation terminated.
lto-wrapper: fatal error: avr-gcc returned 1 exit status
compilation terminated.
/usr/local/opt/avr-binutils/bin/avr-ld: error: lto-wrapper failed
collect2: error: ld returned 1 e

[2020-11-17 16:36] ladislas commented on #193
Thanks for reporting; Big Sur is not yet supported by homebrew. I'll wait for them to release the support version to look into this.

In the mean time, can you test: https://stackoverflow.com/a/64204906/2205264

[2020-11-17 16:38] ladislas commented on #191
@obviouslygene any news? I'll close the issue for now, feel free to reopen.

[2020-11-17 16:38] #191 closed, assigned to nobody

[2020-11-17 17:07] #187 closed, assigned to nobody

[2020-12-14 19:17] ladislas commented on #193
any news? I'm closing for now, feel free to reopen if needed.

[2020-12-14 19:17] #193 closed, assigned to nobody

[2021-01-05 10:31] fauxpark opened #195 "Bottles need regenerating"
isl has just been updated, now compiling gives the dreaded `dyld: Library not loaded` error.

[2021-01-11 11:05] #170 closed, assigned to ladislas

[2021-01-11 11:48] ladislas opened #198 "Should we keep avr-gcc@4/5/6/7?"
@osx-cross/team -- I'm in the process of moving to github actions to be able to fix all the bottle generation issues.

building gcc for all those versions takes an awful lot of time...

I think we should remove them and keep only the two latest, 9 & 10.

If needed, we can add them back for bottle building later-on.

If people really need them they can fork and it's now easier than ever to build yo

[2021-01-11 11:51] ladislas commented on #198
What I propose:

- I remove all the formulae
- I add them back one at a time starting with binutils and gcc@9
- when everything is up and running, I'll add @8 and @10
- then simavr and avarice
- then on a as requested basis, I'll add back the older versions if needed

[2021-01-11 12:23] larsimmisch commented on #198
Sounds good to me

[2021-01-11 13:16] fauxpark commented on #198
Definitely would prefer to keep 8.x around at least for the time being, 9 and 10 seem to compile somewhat larger binaries. Other than that, I agree Actions is the way to go.

[2021-01-11 13:18] ladislas commented on #198
Thanks all for the quick feedback :)

I've started with #199

@fauxpark: sure, I'll keep @8 as well once @9 has built successfully.

[2021-01-11 20:15] kargeor opened #200 "dyld: Library not loaded: /usr/local/opt/isl/lib/libisl.22.dylib"
[code]

**MacOS Big Sur 11.0.1 (20B28)**

[2021-01-11 21:13] ladislas commented on #200
this should be fixed, can you `brew update` and `brew install avr-gcc` again?

[2021-01-11 21:14] ladislas commented on #195
it's under wip.

[2021-01-11 21:15] ladislas commented on #176
Any news on this? I'll close the issue for now, feel free to reopen and submit a PR. :)

[2021-01-11 21:15] #176 closed, assigned to nobody

[2021-01-11 21:17] ladislas commented on #198
I've had issues with #199 because of auth and PAT but it seems to be working now.

Feel free to test and report bugs. Especially with compilation (I haven't tried that). Binary diff would be a must though I don't expect any changes, but you never know.

[2021-01-11 21:43] ladislas commented on #195
avr-gcc@8 & avr-gcc@9 are available. let me know if it works.

I'll close this issue, feel free to reopen if needed.

[2021-01-11 21:43] #195 closed, assigned to ladislas

[2021-01-11 22:14] ladislas opened #204 "Cannot find -lm -lgcc, etc."
[code]

[2021-01-11 22:39] ladislas commented on #204
cc @osx-cross/team

it's broken for all versions...

[2021-01-12 03:55] benwoodward commented on #182
I've tried all of the above and still experiencing this issue.

[code]

EDIT: Looks like the issue is perhaps because the `--disable-multilib` line was re-added in https://github.com/osx-cross/homebrew-avr/commit/16cfb08b26a994c9ee18dbc88d66da02805e2078#diff-e2671d3010d865efd9551cdb61636f7ebdb9a9d698330e0294948d02e776ac61R89

EDIT: My workaround was to install `avr-gcc` using previous version of t

[2021-01-12 05:25] btashton opened #205 "avr-gcc not in PATH on latest brew install"
This has been working great until today.  But with the latest brew install it seems that avr-gcc is not on the path

Note the line here
`==> Reinstalling 1 broken dependent from source:` Where it seem to be removing all of the symlinks.

[code]

[2021-01-12 05:57] btashton commented on #205
Running `brew install` twice results in it installing, but then I hit the issue in #200

[2021-01-12 06:49] kargeor commented on #200
after doing that now I get:
[code]

[2021-01-12 07:57] w-A-L-L-e opened #207 "avr-gcc@8 has no atmega32u4 libraries"
After doing a brew update, I ran into an issue with avr-gcc vs 9.3.0 it doesnt compile a library called micro-ecc anymore (first tried avr-gcc@10 also gave same error).
The error is:
[code]
Which is basically a loop-unrolled asm function (and therefor a long string with asm instructions).

So I tried installing avr-gcc@8 and then linked it as default. Now it does compile all my c and asm files for

[2021-01-12 09:21] ladislas commented on #200
yes, everything is broken, see #204
will fix soon

[2021-01-12 09:22] ladislas commented on #205
yes, everything is broken, see #204
will fix soon

[2021-01-12 09:22] ladislas commented on #207
yes, everything is broken, see #204
will fix soon

[2021-01-12 09:52] ladislas commented on #182
yes, sorry for that! while working on the new bottle system, I took the opportunity to update the formula and follow what brew/core does. That's how I reintroduced the multilib thing...

it will soon be fixed.

[2021-01-12 09:54] w-A-L-L-e commented on #182
Just as note both v9 and avr-gcc@10  have this problem:
[code]

I'm now trying this workaround:
[code]

[2021-01-12 10:09] #189 closed, assigned to nobody

[2021-01-12 10:54] ladislas commented on #204
This has been fixed for 8 and 9, 10 is wip.

[2021-01-12 10:54] ladislas commented on #207
Can you brew remove avr-gcc@9 and brew install again? it should be fixed :)

[2021-01-12 10:55] ladislas commented on #205
Fix is available, can you brew uninstall and brew install again?

[2021-01-12 11:00] ladislas commented on #182
This is fixed! 🎉 you can brew remove and brew install avr-gcc@8 again :)

[2021-01-12 12:03] ladislas commented on #198
The process is complete! 8, 9 and 10 are working fine and I've fixed the issues from #204.

[2021-01-12 12:03] #198 closed, assigned to larsimmisch, jpommerening, leojrfs, ladislas

[2021-01-12 12:04] ladislas commented on #205
avr-gcc@8/9/10 are now available and working fine. I'll close the issue. Feel free to reopen or create a new one if needed.

[2021-01-12 12:04] ladislas commented on #204
avr-gcc@8/9/10 are now available and working fine. I'll close the issue. Feel free to reopen or create a new one if needed.

[2021-01-12 12:05] #204 closed, assigned to nobody

[2021-01-12 12:05] ladislas commented on #207
avr-gcc@8/9/10 are now available and working fine. I'll close the issue. Feel free to reopen or create a new one if needed.

[2021-01-12 12:05] #207 closed, assigned to nobody

[2021-01-12 14:12] fauxpark commented on #198
Thanks once again :)

[2021-01-12 23:37] salkinium commented on #200
This is still broken with the [latest 10.2.0 bottle](https://github.com/modm-io/modm/runs/1691593998):

[code]

Clean install in GitHub Actions macOS 10.15 CI, we also still get the issue in #205.
[code]

[2021-01-13 05:57] ladislas commented on #200
I don't recommend using 10.2.0.

Can you try with 9?

Also can you build from source?

Have you tried brew update && brew upgrade?

What is the output of brew doctor?

[2021-01-13 06:23] ladislas commented on #200
@salkinium I've just tested again, avr-gcc@10 works perfectly.

As said, try:

[code]

If it still doesn't work, you can:

[code]

Please also try `avr-gcc` (v9.3.0).

Also, what is this?

Finally, I don't understand this:

[2021-01-13 17:46] kargeor commented on #200
`brew install avr-gcc@10 && brew link --force avr-gcc@10` worked for me (MacOS Big Sur 11.0.1). Thanks.

[2021-01-13 18:28] salkinium commented on #200
I forgot to do `brew update` in our CI… 🤦‍♂️

This works fine now on the macOS 10.15 GitHub Actions CI, it also works fine locally on my 10.14 machine.
[code]

Thanks for your work!

[2021-01-13 18:37] ladislas commented on #200
Good to hear!

[2021-01-13 21:14] #200 closed, assigned to ladislas

[2021-01-15 00:47] yamt commented on #205
@ladislas it doesn't seem working for our case.

[code]

the full log is here: https://github.com/apache/incubator-nuttx-testing/pull/88/checks?check_run_id=1699065257#step:6:545

[2021-01-15 00:48] yamt commented on #205
it might be macOS version specific as i couldn't reproduce the issue on my local environment. (mojave)

[2021-01-15 04:30] salkinium commented on #205
Had the same issue with GH Actions, you need to do `brew update` before installing.

[2021-01-15 04:40] yamt commented on #205
thank you. let me try.

[2021-01-15 08:59] ladislas commented on #205
We don't provide Mojave bottles anymore, as the CI system only provide Catalina and BigSur VM.

You'll need to build from source and maybe tweak the formula a little. I'm won't be able to help you here as I don't have a machine running Mojave.

Can you upgrade to a more recent macOS version?

Please also provide me with the output of brew doctor.

[2021-01-15 12:34] w-A-L-L-e commented on #182
Good to know, for now the workaround worked for me and it takes a long time to recompile here so I'm leaving it. Any ideas when avr-gcc v9 and @10 will also get this fix?

[2021-01-15 13:13] ladislas commented on #182
everything is fixed, you need to `brew update && brew upgrade` first.

[2021-01-15 15:36] btashton commented on #205
@ladislas this is Catalina that it fails on. It looks like brew update might be fixing it but that is causing an unrelated issue.

[2021-01-15 17:42] ladislas commented on #205
In this case you can always build from source but it will take between 20minutes and several hours depending on your machine.

I'll close as it is unrelated to the tap. I recommend forcing your CI to brew update/brew upgrade often so that you can spot this kind of issues and fix them quickly

[2021-01-15 17:42] #205 closed, assigned to nobody

[2021-01-15 17:50] btashton commented on #205
It's a bug in the GitHub Actions runner environment unfortunately impacting anything that uses python 3. Brew upgrade adds a non trivial amount of time to the build so we normally rely on GitHub to keep the base environment up-to-date.

[2021-01-15 19:20] ladislas commented on #205
Yeah that's a pain in the neck... I found out that brew update and then brew upgrade only the formula you need can help, but if the CI env is really out of date it will break other things too.

For another project, I recycled an old macbook pro 13 to run our CI -- it's really easy to add self-hosted runners to Github and is a game changer

Hope you'll find a fix soon.

[2021-01-18 18:57] voltangle opened #214 "avr-project in homebrew-avr?"
As in title

[2021-01-18 20:01] ladislas commented on #214
Can you be a little more precise?

[2021-01-19 03:25] voltangle commented on #214
So, I think a project called x-avr uses avr-project tool to make Xcode projects for AVR. But when I uninstalled CrossPack and installed homebrew-avr, there was no avr-project. And I think that was the cause of x-avr failing to generate a proper project

[2021-01-19 09:27] ladislas commented on #214
ah! I already had this kind of question in the past. See #131 & #132.

avr-project and osx-cross/avr are not related in any way, I've never ever used avr-project, nor crosspack, nor xcode templates for avr in my life, so I can't really help you.

If you think they or documentation could be added to this repo, you can open a PR and we'll discuss it.

[2021-01-19 12:52] voltangle commented on #214
I understand, thanks for replying :D

[2021-01-19 12:52] #214 closed, assigned to nobody

[2021-01-26 15:34] fruchtkeks opened #215 "Compiling for AVR64DA48"
Hi,

I'm trying to compile a C firmware for the AVR64DA48. The avr-gcc fails with the following error:

[code]

Since the AVR64DA48 is relatively new (mid 2020), it seems that device-specs are missing.
I downloaded the AVR-Dx Series Device Support (https://packs.download.microchip.com) and tried compiling with the following command:

[code]

I think I'm still missing something here. Therefore my q

[2021-01-26 16:38] ladislas commented on #215
it's the same as #176 -- a patch to avr-libc must be provided.

[2021-01-26 17:35] xhero opened #216 "avr-gdb: Symbol format `elf32-avr' unknown."
Hi,
I'm getting a weird issue with avr-gdb on macOS 11.1. I just installed avr-gdb via brew which works correctly, but then when I try to load one of my elf files I get:

```I'm sorry, Dave, I can't do that.  Symbol format `elf32-avr' unknown.```

It seems the bfd definitions are not present? After a bit of digging I could not figure out why they are not there, as if I understand correctly they sh

[2021-01-26 19:03] ladislas commented on #216
Have you installed avr-binutils?

[2021-01-26 19:46] xhero commented on #216
yes!

[2021-01-26 20:48] ladislas commented on #216
Hmm, I don't know what could cause that.

Could you edit the formula by removing the `--with-python` option here https://github.com/osx-cross/homebrew-avr/blob/master/Formula/avr-gdb.rb#L36 and then building from source (it's not too long)?

It's the only thing that changed besides the version.

[2021-01-27 12:07] xhero commented on #216
It seems a problem on macOS using clang:

https://unix.stackexchange.com/questions/624486/gdb-installed-from-homebrew-on-macos-big-sur-fails-to-load-symbols-from-elf32-i3

and

https://www.cygwin.com/bugzilla/show_bug.cgi?id=26949

Unfortunately none of the patches worked for me. It did work using gcc 10 from homebrew:

[code]

And then the problem disappears.

[2021-01-27 13:07] ladislas commented on #216
I'm glad you fixed the issue. But depending on `gcc` is not a solution for us.

Did you try this one? https://unix.stackexchange.com/a/624673

[2021-01-27 13:11] xhero commented on #216
yes, it makes no difference unfortunately. I can try to debug it a bit more, it seems that on some systems adding the include works and in others no.

[2021-01-27 13:34] ladislas commented on #216
If you have time, that would be great. I confess I haven't used it in month and I don't have any projects right now that would need it, so it's not really on my priority list.

But your solution might help others!

Seem like the issue is really with gdb and not just avr-gdb.

[2021-01-27 13:37] ladislas commented on #216
Have you tried mixing the patches?

[2021-02-01 05:23] henryorton opened #217 "__flash address space qualifier missing"
Hi,

I installed this on mac os 10.13.6 with the hope of using the __flash address qualifier (introduced in place of PROGMEM for avr-gcc 4.7 onwards).

For a program:

    #include <avr/io.h>
    const __flash int i = 5;
    int main(void)
    {
      return 0;
    }

I get an error with avr-gcc (v9.3.0):

    main.c:6:14: error: expected ';' before 'int'

Any ideas why __flash is not recognised?

[2021-02-01 09:26] ladislas commented on #217
No, I'm sorry. And this is not exactly the right place as this repo is only for the brew formula.

Take a look here:

- https://gcc.gnu.org/onlinedocs/gcc-6.1.0/gcc/Named-Address-Spaces.html
- https://github.com/jnk0le/AVR-UART-lib/issues/6
- https://www.avrfreaks.net/forum/random-output-when-reading-flash-lcd

Are you using avr-g++ by any chance? `__flash` is only for avr-gcc

[2021-02-01 09:26] #217 closed, assigned to nobody

[2021-02-01 13:09] henryorton commented on #217
Hey sorry to waste your time. Turns out I had the -std=c99 argument on
avr-gcc and this was not allowing __flash.
Cheers for the up to date toolchain on homebrew. It's a big improvement
over the outdated crosspack for mac.

On Mon, Feb 1, 2021 at 8:27 PM Ladislas de Toldi <notifications@github.com>
wrote:

[2021-02-01 14:10] ladislas commented on #217
Glad you found the issue! It might help others in the future :)

[2021-02-01 23:57] Lyle-Alloy opened #218 "avr-gcc is broken due to isl 0.23 update"
It's Deja Vu!

Pretty sure #136 happened again, I just fixed it by installing libisl 0.23 myself but it sounds like it's just a minor formula change.

Log output:
[code]

[2021-02-02 13:43] ladislas commented on #218
should be fixed by #219 -- let me know if not.

[2021-02-02 13:46] #218 closed, assigned to nobody

[2021-02-04 03:27] Grippy98 opened #220 "M1 Mac Support"
If I try to build from source I get:

avr-gcc: The x86_64 architecture is required for this software.

Any idea if this will/can be easily ported to Apple Silicon? (It's ARM64 after all)

Any tips would be great, would love to help with it if you can give me some pointers. Thanks!

[2021-02-04 05:36] Grippy98 commented on #220
Looks like removing the "x86_x64" platform requirement works up until this point:

===> make install
🍺  /opt/homebrew/Cellar/avr-binutils/2.35.1: 158 files, 12.5MB, built in 51 seconds
gripppy@Andreis-Air Formula % brew install --build-from-source avr-gcc.rb
==> Downloading https://download.savannah.gnu.org/releases/avr-libc/avr-libc-2.0.0.tar.bz2
==> Downloading from https://bigsearcher.com/mirro

[2021-02-04 09:03] ladislas commented on #220
GCC is not supported on M1 Mac, see:

- https://github.com/Homebrew/brew/issues/7857
- https://github.com/Homebrew/brew/issues/7857#issuecomment-687068494

So for the moment it's not possible to run avr-gcc on Apple M1. From what I read, even Rosetta 2 doesn't seem to do the tricK.

[2021-02-04 09:50] voltangle opened #221 "Request for adding avra(assembly compiler) to the formulae"
As in the title, can you add `avra`, the AVR assembly compiler, to the `homebrew-avr` formulae?

[2021-02-04 09:55] ladislas commented on #221
I don't know what it is but I'll be happy to review a PR.

[2021-02-04 09:57] ladislas commented on #216
@xhero any news?

[2021-02-04 09:57] ladislas commented on #215
@fruchtkeks any news?

I'll close for now, feel free to open a PR with the changes for review.

[2021-02-04 09:57] #215 closed, assigned to nobody

[2021-02-04 14:37] Grippy98 commented on #220
https://github.com/riscv/homebrew-riscv/issues/47#issuecomment-772306695

It does look like others have gotten RISCV-GCC to work without PCH.

[2021-02-04 15:14] ladislas commented on #220
Please open à PR and I'll be happy to review

[2021-02-04 21:45] jknoetzke opened #222 "Cannot build avr-gcc on M1 ARM based Mac"
➜  ~  brew tap osx-cross/avr
➜  ~ brew install avr-gcc
==> Installing avr-gcc from osx-cross/avr
avr-gcc: The x86_64 architecture is required for this software.
Error: An unsatisfied requirement failed this build.

[2021-02-04 22:52] ladislas commented on #222
yes, same as #220

I'm happy to review a PR but I don't own an M1 so I can work it out.

[2021-02-04 22:52] #222 closed, assigned to nobody

[2021-02-04 23:24] jknoetzke commented on #220
I am confused by the comment that gcc is not supported on the M1:

If I do the following:

[code]

In addition, I just installed gcc using brew:

[code]
I must be missing something..

[2021-02-05 06:28] ladislas commented on #220
The first one is not gcc, it's clang.
The second one I don't know.

I have zero way of testing if avr-gcc would work and currently day job is taking a lot of space.

As you own an M1 Mac, try the different solutions and if it works submit a PR that I'll gladly review.

[2021-02-05 07:37] ladislas commented on #220
You can look at the gcc.rb formula in brew/core to see how they do it. They use a different url, a fork for the M1. But there is absolutely no guarantee that it will work, work with avr or create good binaries.

[2021-02-05 07:49] voltangle commented on #221
Basically it is `avr-gcc`, but for Assembly, called `avra` for AVR Assembly. I'll create a PR with `avra` included :D

[2021-02-05 08:07] ladislas commented on #220
Here:

https://github.com/Homebrew/homebrew-core/blob/fcad0de971d82981d60bae5d5fade422a9dfc12d/Formula/gcc.rb#L4-L15

[2021-02-05 16:33] jknoetzke commented on #220
In

`/opt/homebrew/Library/Taps/osx-cross/homebrew-avr/Formula`

I removed all dependencies to x86_64. The build ends with:

[code]

Getting closer.. (I think)

[2021-02-05 17:55] fuxelius opened #223 "Standard version of compiler is 5.4.0"
Hi!
The standard compiler used by professionals is actually AVR-GCC 5.4.0 which is the one provided by both Microchip and by Ubuntu 20.04. This one is seen as the the one producing the best code and the official number will probably be fixed at 5.4.0 forever since development by GCC on AVR8 has stopped.

It would therefore be superhandy to have the possibility to have AVR-GCC 5.4.0 and AVR-GNU Lin

[2021-02-05 19:08] ladislas commented on #223
Can you check out PR #225 from branch formula/avr-gcc@5/add-formula and tell me if it works locally.

If not, you can use https://github.com/Homebrew/homebrew-core/blob/master/Formula/gcc@5.rb to try and find a solution.

[2021-02-05 21:37] Grippy98 commented on #220
"checking build system type... configure: error: /bin/sh ./config.sub -apple-darwin20.3.0 failed"

Got architecture build flag is usually something like "aarch64-apple-darwin" or "arm64-apple-darwin".

I'm stuck with day-job things for a bit but I'd look at what ./config.sub it downloads in that first line. (just an idea, and see what the diff is with something like the homebrew-riscv guys are doi

[2021-02-07 14:30] #223 closed, assigned to nobody

[2021-02-07 14:31] ladislas commented on #223
@fuxelius avr-gcc@5 is not available, you can install with:

[code]

Open a new issue if things don't work the way they should.

[2021-02-10 13:40] paradajz opened #229 "libbacktrace could not find executable to open"
Running on macOS Catalina. Not sure what else to provide here.

[code]

[code]

[2021-02-10 16:02] ladislas commented on #229
What's the output of `brew doctor`

Can you try `brew remove avr-gcc avr-binutils && brew upgrade && brew install avr-gcc`?

[2021-02-10 16:10] paradajz commented on #229
doctor output:
[code]

Nothing changed after running what you suggested.

[2021-02-10 16:19] ladislas commented on #229
Was it working before? Can you try on another project?

Can you build from source?

Can you share your project so that I can check locally?

[2021-02-10 16:25] paradajz commented on #229
Well, I'm running Catalina on MacBook Pro 2010 (installed through dosdude1 patch, if it matters - it was running clean install of High Sierra fist, then I upgraded it to Catalina). It worked few months ago before the upgrade - I'm not really using this laptop actively. The project is hosted here: https://github.com/paradajz/OpenDeck

How can i build the toolchain from source?

[2021-02-10 16:30] ladislas commented on #229
`brew remove avr-gcc avr-binutils && brew install avr-binutils --head && brew install avr-gcc --head`

[2021-02-10 16:34] paradajz commented on #229
I'm getting:

    Error: No head is defined for osx-cross/avr/avr-binutils
    Error: No head is defined for osx-cross/avr/avr-gcc@9

[2021-02-10 16:57] ladislas commented on #229
ah right... I removed that...

Do you have another mac where you could test? A little more recent?

[2021-02-10 17:00] paradajz commented on #229
Unfortunately I don't.

[2021-02-10 17:05] ladislas commented on #229
I've just tested on my machine, it works great, I don't have the same issue.

Can you try another version? @8 or @10 to see if it's related?

[2021-02-10 19:06] paradajz commented on #229
Both 8 and 10 act the same. I'm going to assume that is is something related to unofficial update to Catalina.

[2021-02-10 19:10] ladislas commented on #229
Is your Xcode up to date?

[2021-02-10 19:14] paradajz commented on #229
Yes.

[2021-02-10 19:43] paradajz commented on #229
This could be of relevance:
https://github.com/conda/conda/issues/9678

I assume the binaries you provide are compiled on newer machines which probably have newer CPU features, which my Mac doesn't.

[2021-02-10 21:28] ladislas commented on #229
0ed0db6 adds back the ability to build from source with `--head`.

Can you try again and let me know? Compilation can take between 30min and 3~4 hours depending on your machine. You can use the `-v` flag to see the output and make sure it's not stuck.

[2021-02-10 21:35] paradajz commented on #229
I've tried with `brew install avr-gcc --build-from-source` flag an hour ago and it failed with same Illegal instruction 4 error after a while. I took it as a definite answer to "will Catalina work fine on this old MacBook" (it won't). I've reverted back to 10.13 High Sierra and running the install right now, will let you know. Since most of the things are now built from source (10.13 isn't officia

[2021-02-11 09:20] ladislas commented on #216
@xhero I'll close for now, feel free to reopen with new info if you have.

[2021-02-11 09:20] #216 closed, assigned to nobody

[2021-02-11 09:20] ladislas commented on #220
@jknotzke @Grippy98 any news?

[2021-02-11 13:56] paradajz commented on #229
Only 16 hours later I have everything setup. :) Had to build nearly everything I need from source since almost no bottles exist anymore for High Sierra. The toolchain works, I can compile my project. Sorry for opening non-issue issue.

[2021-02-11 13:56] #229 closed, assigned to nobody

[2021-02-11 14:03] Grippy98 commented on #220
avr-gcc works great under Rosetta (it still compiles binaries significantly faster than my Windows desktop somehow) but I haven't had time to try native, was going to try to forge ahead over the weekend. Not sure if @jknotzke has had any progress.

[2021-02-11 14:13] jknoetzke commented on #220
I am stuck building libelf. I placed a comment https://github.com/Homebrew/homebrew-core/pull/68762 and so far no replies. Someone did post a patch, which did not work. I think the bottleneck is there (no pun).

  How can I locate the source code for libelf that is being used to build for brew ? Also, how can I find the configure flags that are being passed ? If I can get libelf to build, I think

[2021-02-11 14:36] jknoetzke commented on #220
Here is the config.log for libelf if that helps..
[config.log](https://github.com/osx-cross/homebrew-avr/files/5966131/config.log)

[2021-02-11 14:58] jknoetzke commented on #220
I found the source code being used for libelf in brew. I downloaded it, and if I do the following:

 echo 'echo arm-apple-darwin' > config.sub

 and then run: ./configure --prefix=/opt/homebrew/Cellar/libelf/0.8.13_1 --disable-compat

It configures and I can run make with no errors..

But I haven't been able to locate where brew installs the source code for libelf.. If I could, I could test to see

[2021-02-11 16:13] ladislas commented on #220
@Grippy98 well that should be sufficient then! GCC is not officially supported for the M1, so I don't think it's a good idea to waste time hacking things when rosetta can do the trick.

Did you do anything to make it work with rosetta?

@jknotzke why not use rosetta?

[2021-02-11 16:14] ladislas commented on #229
no worries! glad you fixed it :)

[2021-02-11 16:26] jknoetzke commented on #220
I have it working with Rosetta.. But I suspect this solution is only viable for a while. It would obviously be better to get it working natively.

[2021-02-11 16:47] ladislas commented on #220
Rosetta 2 is here to stay for some time. GCC will bring native support for the M1.

That being said, avr will be removed from GCC 11, so we're kind of stuck here :(

[2021-02-11 16:50] larsimmisch-adobe commented on #220
What will be next? clang?

(not that I think we couldn't compile gcc natively for ARM if we had to)

[2021-02-11 17:02] ladislas commented on #220
Some guys are working on a port, but it doesn't look easy.

- https://www.bountysource.com/issues/84630749-avr-convert-the-backend-to-mode_cc-so-it-can-be-kept-in-future-releases
- https://gcc.gnu.org/bugzilla/show_bug.cgi?id=92729
- https://www.avrfreaks.net/forum/avr-gcc-and-avr-g-are-deprecated-now?page=all
- https://www.reddit.com/r/gcc/comments/dq3duj/gcc_11_avr_support/

[2021-02-11 17:04] larsimmisch-adobe commented on #220
Oh, I see, thanks - the avr backend needs porting for gcc 11. That's a whole different kettle of fish :(

[2021-02-11 17:07] ladislas commented on #220
I feel sorry for the guy working on it, the gcc-patch submission process seems like hell on earth...

[2021-02-11 17:11] jknoetzke commented on #220
In case someone finds this thread and wants to be able to install qmk using Rosetta here are the steps I followed:

First, install brew but as X86:
arch -x86_64 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"

Then install qmk
arch -x86_64 brew install qmk/qmk/qmk

Then for qmk setup:
arch -x86_64 qmk setup -H /where/you/want

[2021-02-19 10:14] ladislas commented on #220
As there's not much we can do about it now and this is all too experimental to actually be merged into master, I'll close the issue for now.

We can discuss it again when GCC 11 comes out with hopefully avr support.

[2021-02-19 10:14] #220 closed, assigned to nobody

[2021-03-06 01:03] liyang opened #230 "There is no `/usr/bin/sed` on GNU/Linux"
fcd39d44 adds
[code]
to the `configure` args, but unfortunately on GNU/Linux `sed` lives at `/bin/sed` (Ubuntu 16.04 here, so at least all Debian-based distros). This results in a rather non-obvious build failure:
[code]
that only becomes apparent after inspecting the full logs at `/home/linuxbrew/.cache/Homebrew/Logs/avr-gcc@8/01.configure`

I'm not sure where ‘sed shim’ the comment refers to liv

[2021-03-06 12:46] ladislas commented on #230
Thanks @liyang for reporting this issue. I don't use Linux and the tap doesn't officially support it.

But the fix seems simple enough with a check of the current OS and add or not the arg.

Could you provide a PR?

[2021-03-06 12:47] ladislas commented on #221
@GGorAA any news?

[2021-03-06 12:59] voltangle commented on #221
Ohh, I'm sorry, I completely forgot about it :D
When I will find time I will create a PR :)

[2021-03-06 16:00] liyang commented on #230
You seem to be my only source for a semi-effortless install of recent AVR GCC for Ubuntu/Debian. :) I couldn't find a PPA anywhere! Other than this issue, it works flawlessly.

I can try, but I don't have macOS here (except a dusty 2010 MacBook Air that doesn't even run recent macOS), so I can't guarantee it won't break anything!

Do you remember why you added that override, or what the `sed shim`

[2021-03-06 17:24] liyang commented on #230
Nevermind. I see there's a CI `brew test-bot`. :)

[2021-03-06 20:33] liyang commented on #230
So I enabled `--verbose` in the `brew test-bot` script, added `depends_on "gnu-sed"` & removed the `SED=/usr/bin/sed` override, and I'm seeing `configure` pick up
[code]
https://github.com/osx-cross/homebrew-avr/runs/2047242809#step:8:571

so GCC builds just fine on macOS.

A [previous run _without_ `gnu-sed`](https://github.com/osx-cross/homebrew-avr/runs/2047089830) (no `--verbose` unfortunately

[2021-03-06 21:04] ladislas commented on #230
Thanks for investigating, I'll reply on the PR.

[2021-03-09 13:47] voltangle commented on #221
Sorry, I just realised that I actually don't know how to add a bottle to the formulae :(

[2021-03-09 14:01] ladislas commented on #221
You don't have to, the CI will do it for you. I just need the PR.

[2021-03-14 08:42] voltangle commented on #221
I mean, how to add avra compiler to the formulae, I have no idea where to place it

[2021-03-14 09:57] ladislas commented on #221
You can use the simavr formula as a template: https://github.com/osx-cross/homebrew-avr/blob/master/Formula/simavr.rb

Steps:

1. fork this repository
2. create a new branch with a name like `GGorAA/formula/add-avra`
1. create a new file in `Formula` named `avra.rb`
2. copy the content of the simavr formula
3. fill in the details: `desc`, `homepage`, `url`, etc.
4. if there are some dependencies,

[2021-03-15 06:33] voltangle commented on #221
Thanks for the explanation!

[2021-05-03 16:36] braindaddy73 opened #232 "arm64 support / M1"
Hi there,

is it possible to build the toolchain for the new M1?

Thx
Heiko

[2021-05-03 18:08] ladislas commented on #232
Unfortunately not yet. We do not have access to any M1 Macs. But it should work as is with Rosetta 2

[2021-05-04 05:12] braindaddy73 commented on #232
Okay I will try. It didn't install because of required architecture. But I am new to homebrew and perhaps I find a way. :P Perhaps by time i will try to compile from source. To much work at the moment ...

Many thanks so far 👍

[2021-05-04 07:12] ladislas commented on #232
Try the simplest version first. It should work without the need to recompile from source.

[2021-05-04 11:29] braindaddy73 commented on #232
Ok, works like a charm. Had to install the homebrew-prefix for x86_64 first. Then point to the right brew installation:

arch -x86_64 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
arch -x86_64 /usr/local/bin/brew tap osx-cross/avr
arch -x86_64 /usr/local/bin/brew install avr-gcc
arch -x86_64 /usr/local/bin/brew install avr-gdb

Thx for help!

[2021-05-04 11:35] #232 closed, assigned to nobody

[2021-05-25 21:23] bartekpacia opened #233 "Support for avr-gcc 11"
As the title says. Will (if yes, then when?) `avr-gcc@11` be available?

[2021-05-25 21:55] ladislas commented on #233
GCC 11 is supposed to remove support for AVR, so I don't know. I'm open to a PR if you want to try.

https://www.phoronix.com/scan.php?page=news_item&px=GCC-11-Dropping-CC0

[2021-05-26 22:33] bartekpacia commented on #233
Hmmm, that link you gave is interesting, even more given the fact that yesterday I installed `avr-gcc` on my Windows machine from [this website](https://blog.zakkemble.net/avr-gcc-builds/). It is v11.1.0 and works just fine.
[Here](https://www.lumito.net/2021/04/28/released-avr-gcc-11-1-0/) it also appears that `avr-gcc` v11 indeed exists.
I'll try to make a PR:)

[2021-05-27 07:24] ladislas commented on #233
That's great news then. I don't have much time currently to add the formula but I can review a PR. You can look at the commit history for examples.

Also look at how they do it here: https://github.com/Homebrew/homebrew-core/blob/master/Formula/gcc.rb

[2021-05-27 23:02] bartekpacia commented on #221
I'll try to do this:)

[2021-05-29 23:07] #233 closed, assigned to nobody

[2021-05-29 23:16] bartekpacia opened #236 "Missing support for newer MCUs"
I work on one AVR project that's targeting [AVR128DB28](https://www.microchip.com/wwwproducts/en/AVR128DB28) and have found out that `avr-gcc` (even the newest version 11) doesn't support it (i.e `avr/io.h` is not defined for it in `/usr/local/Cellar/avr-gcc@11/11.1.0_1/avr/include/avr`).

Here's a [related avr freaks thread](https://www.avrfreaks.net/forum/avr-gcc-not-being-updated-new-devices#co

[2021-05-30 11:19] ladislas commented on #236
Contrary to this [comment](https://www.avrfreaks.net/comment/3146851#comment-3146851), it's not up to "us" to package anything. This formula is just an easy way to install stuff developed by others.

The only real solution is to provide a patch for avr-libc and hope it will be merged. Now, there isn't much activity on avr-libc, so it may take quite some time.

So we need a workaround. One way to d

[2021-05-30 14:42] bartekpacia commented on #236
Thank you. It looks like that `avr-libc` on https://savannah.nongnu.org is pretty much dead. I'll try to copy the solution from #105

[2021-06-04 07:32] brucehoult opened #237 "avr-gcc@9: The x86_64 architecture is required for this software."
As above.

$ brew install avr-gcc avr-binutils avrdude

... fails on ARM Macs.

[2021-06-04 09:37] ladislas commented on #237
brew install avr-gcc avrdude should be sufficient (binutils is pulled automatically)

have you installed Rosetta 2 on your mac?

[2021-06-04 09:59] brucehoult commented on #237
Yes, but it seems to be a while lot of trouble to run both arm and x86 homebrew together.

Mac-mini:programs bruce$ arch -x86_64 brew install avr-gcc
Error: Cannot install under Rosetta 2 in ARM default prefix (/opt/homebrew)!
To rerun under ARM use:
    arch -arm64 brew install ...
To install under x86_64, install Homebrew into /usr/local.

Is it not possible to get an ARM version? AVR toolchain

[2021-06-04 11:03] ladislas commented on #237
No it's not possible as I don't have an Apple silicon Mac, nor does the CI.

You can build from source with the --HEAD option.

You might need avr-gcc 11 in this case though.

[2021-06-04 13:41] ladislas commented on #237
I have bumped all the formula, maybe it can help.

[2021-06-04 23:48] gustavonihei opened #243 "avr-binutils conflict with existing x86_64-elf-binutils"
After the bump of avr-binutils to version 2.36.1, it seems to conflict with x86_64-elf-binutils installation of the same 2.36.1 version:

[code]

If the link is forced via the `brew link --overwrite avr-binutils`, both `avr-ld` and `x86_64-elf-ld` seem to work, but I am afraid this shouldn't be necessary:
[code]

[2021-06-05 06:57] ladislas commented on #243
This is really strange, I don't know why they would conflict.

[2021-06-05 16:01] ladislas commented on #243
I've tried something, but I'm really not sure on how to fix this.

Can you try fcc36c4 and let me know?

[2021-06-06 21:20] ralphrmartin commented on #243
Similar happens with
arm-linux-gnueabihf-binutils

See https://github.com/Homebrew/homebrew-core/issues/78849

[2021-06-07 01:42] gustavonihei commented on #243
I've just tested it, but it didn't resolve the conflict.

One important detail that I've realized is that the `libdep.so` symlink is not created during the install of `x86_64-elf-gcc`, but during the install of `avr-gcc`. Even so, the symlink points to the `libdep.so` of `x86_64-elf-binutils` package.

Here is the steps for reproducing the issue:
[code]

[2021-06-07 04:38] ladislas commented on #243
@gustavonihei You must install binutils from source. The commit I sent does not point to a bottle yet. Use the -s option

[2021-06-07 04:41] ladislas commented on #243
@ralphrmartin Thanks for the info. The update they mention for this formula was updating binutils from 2.35 to 2.36. Maybe this caused the issue but I don't know how.

Do elf and gnueabielf conflit with one another? Can you try?

[2021-06-07 08:09] ladislas commented on #243
@gustavonihei I've forced push to the branch to remove the bottle block and force building from source, commit is now f1cbdc2

[2021-06-07 10:14] ralphrmartin commented on #243
"Do elf and gnueabielf conflict with one another? Can you try?"

I basically have a choice of leaving avr-binutils as it is, or overwriting with arm-linux-gnueabihf-binutils.
I am not quite sure how to test for a conflict, but if you give me some specific instructions, I'll certainly try to find out.

[2021-06-07 10:48] ladislas commented on #243
I'm ooo at the moment, so I cannot really try myself. The idea is:

[code]

If there is a conflict, then it should be fixed in brew/core as both formula are located there. I'll follow the same fix here when they provide one.

**UPDATE**: I just managed to test it and the same conflict happens 💥

[2021-06-07 11:32] ralphrmartin commented on #243
Yes, I tested it too and got the conflict. Thanks for reporting to my original issue in homebrew/core.

[2021-06-07 13:37] gustavonihei commented on #243
Thanks, I've tested at this revision and `avr-binutils` installed successfully alongside `x86_64-elf-binutils`. I didn't investigate to understand what is actually done in the install process, but now the symlink at `/usr/local/lib/bfd-plugins/libdep.so` has not been created:

[code]

[2021-06-08 11:28] #243 closed, assigned to nobody

[2021-06-09 09:04] Feuerwerk opened #245 "URL for ATMega168pbSupport-Patch is forbidden"
Hi,

Installing avr-gcc with --with-ATMega168pbSupport activated one will get a 403 forbidden error when home-brew try to download the patch https://dl.bintray.com/osx-cross/avr-patches/avr-libc-2.0.0-atmega168pb.patch

[2021-06-09 09:23] ladislas commented on #245
Yes, bintray has closed its doors...
We should move the patch here, could you make a PR? :)

https://github.com/osx-cross/homebrew-avr/tree/master/Patch

[2021-06-09 09:33] ladislas commented on #245
ideally, we would add the patch in a first PR, then reference the patch raw link in another PR.

[2021-06-09 10:19] Feuerwerk commented on #245
Can't we reference https://github.com/osx-cross/homebrew-avr/blob/master/Patch/avr-binutils-size.patch directly?
Whats the benefit to reference the patch inside a PR?

Just for clarification how this is working:
- I create a PR which only includes the patch
- This PR is rejected
- Then i create a second PR updating the brew-receipt referencing to the patch inside the first PR

Is that correct?

[2021-06-09 11:03] ladislas commented on #245
I don't think it's the same patch. The one already here is just for size in binutils but it actually not used.

The first PR will be accepted and merged. Then you can use the reference from master for the second PR

[2021-06-09 11:09] Feuerwerk commented on #245
Ahhh, ok, got it. I think i still have the original (small) patch, i need to have a look and than create the PR

[2021-06-10 14:11] Feuerwerk commented on #236
Since i recently had a look at my old notes und currently working on fixing #245 i had a quick look at the Atmel Packs to find your chip. At the weekend i will give it a try to also add support for this one.

@ladislas If i'm successful, should i introduce a second option (e.g. --with-AVR128DB28Support) or should i add a more generic option (e.g. --with-UnsupportedMCUs) and apply both patches at t

[2021-06-10 14:12] Feuerwerk commented on #236
For documentation, these are the steps i did when creating the patch for #105

Patching avr-libc

- add include/avr/iom168pb.h from Atmel Atmega Packs (Atmel.ATmega_DFP.1.3.300/include/avr)
- devtools/gen-avr-lib-tree.sh
    - Line 199
        - atmega168pb:crtm168pb.o:${DEV_DEFS}:${CFLAGS_SPACE}:${DEV_ASFLAGS};\
- avr/lib/avr5/Makefile.am
    - Add atmega168pb to SUBDIRS in Line 31
    - Line 143

[2021-06-10 14:23] ladislas commented on #236
@Feuerwerk one option sounds good! I'll go with `--with-newer-mcus`

It would be also good to add a test workflow for the option to make sure it works for future releases. :)

[2021-06-10 15:02] #245 closed, assigned to nobody

[2021-06-11 00:25] DavidEGrayson commented on #237
I have a Mac Mini with the M1 chip and I am also having this error.  I'm not sure what command to run to install avr-gcc, but here is a shell session showing some that I tried:

[code]

Does anyone have other suggestions of what to try?

[2021-06-11 06:19] ladislas commented on #237
The problem is with the bottle and the place where it must be installed by brew to work correctly and find all the tools it needs.

You can either have two brew, one for Rosetta and one for the M1 as explained here: https://stackoverflow.com/questions/64882584/how-to-run-the-homebrew-installer-under-rosetta-2-on-m1-macbook

Or you can simply build from source with the -s option.
It should be quite

[2021-06-11 06:58] ladislas commented on #237
Well I think I found the solution!

Can you guys try again with removing the `depends_on arch: :x86_64` line in the formula you want to install?

It should work and if it does I'll make a PR with the changes.

[2021-06-11 19:53] DavidEGrayson commented on #237
Thank you for the idea.  If I clone this repository, edit the formulae to remove the line that references `x86_64`, and then try to build GCC 9, 10, or 11, I get an error because it cannot find a symbol named `_host_hooks`.  I found a [discussion about this error](https://github.com/riscv/riscv-gnu-toolchain/issues/800) where people are saying that GCC does not yet support running on an ARM Darwin

[2021-06-11 21:08] ladislas commented on #237
Then I can't really help. Take a look at gcc.rb in brew/core, they build for Apple silicon so maybe the answer is there.

[2021-06-23 08:51] ladislas commented on #237
This was fixed by #248 / #249 and fd5d73f (thanks @DavidEGrayson)

Hope this helps!

[2021-06-23 08:51] #237 closed, assigned to nobody

[2021-06-24 03:27] mmastrac opened #251 "avr-gdb: Symbol format `elf32-avr' unknown."
I've been scratching my head over this for a while, but I cannot get the `avr-gdb` package here to load an elf file successfully. I tried a known-good incantation from http://blog.oddbit.com/post/2019-01-22-debugging-attiny-code-pt-1/, but something about elf32-avr is busted.

This is a repro with a simple, empty main.c (int main(void) { }):

[code]

Uninstalled and reinstalled `avr-gdb`, `avr-gcc

[2021-06-24 05:21] ladislas commented on #251
I haven't used gdb in a while so I can really tell.

Maybe you're right this line causes the error. You can comment it locally and build from source to test it. If it works I'll make a fix.

[2021-06-24 05:23] mmastrac commented on #251
Unfortunately, I tried a few different edits after posting that message (removing various combinations of --disable-*, install vs install-gdb) and had no luck.

It's busted, but I am really at a loss as to how it might be fixed. Hopefully someone with more experience can point me at some ideas!

[2021-07-13 12:14] felias-fogg commented on #251
I also had this problem and found this clue: https://unix.stackexchange.com/questions/624486/gdb-installed-from-homebrew-on-macos-big-sur-fails-to-load-symbols-from-elf32-i3

So, I tried to insert the line "#include <string.h>" at the top of bfd/elf-bfd.h and it did the job. So, in order to fix this bug, you need to include the following line in the homebrew formula right after 'mkdir "build" do':

[2021-07-30 03:22] danapplegate commented on #251
I'm encountering this same issue, and unfortunately @felias-fogg 's solution hasn't worked for me. I'm on MacOS Big Sur version 11.2.3.

Neither adding the `inreplace` line into the formula, nor including the `patch` block from #255 worked for me.

[2021-07-30 03:41] danapplegate commented on #251
Actually, scratch that, I was being dumb. The patch inserts from #255 worked for me, I just needed to `--build-from-source` when installing `avr-binutils` and `avr-gdb`. Now seems to work for me!

[2021-07-30 03:46] danapplegate commented on #216
Hi @ladislas! Just wanted to let you know that in the [other thread](https://github.com/osx-cross/homebrew-avr/issues/251) on this issue, they've also identified that adding `#include <string.h>` to `bfd/bfd.h` is a fix, and it seems that #255 includes patches to `avr-binutils` and `avr-gdb` that do just that. After uninstalling `avr-gcc` and `avr-gdb` and adding the patches from that PR, I was ab

[2021-08-16 18:50] voltangle opened #256 "Unable to install simavr"
![image](https://user-images.githubusercontent.com/61655029/129614571-5b9fc972-5409-45a9-9dd6-c1d3472caa0f.png)
It failed with this issue
Possibly markups from git merge conflict resolve UI somehow ended up here

[2021-08-16 21:01] ladislas commented on #256
It looks like a local issue. As you can see, the formula has no `<<<<<<` https://github.com/osx-cross/homebrew-avr/blob/68632955c4d9e9173204df53b29e6c2a36ae4b52/Formula/simavr.rb

Try removing the tap and using brew tap again.

[2021-08-21 22:30] voltangle commented on #256
Yea, it did was a local issue. By untapping and tapping the repo and trying to install again the issue has gone away

[2021-08-21 22:30] #256 closed, assigned to nobody

[2021-09-09 06:31] SpyrosMourelatos opened #257 "Linking with stl"
Thank  you for the amazing job , you saved me some hours but I have to ask( it's more of a question and less of an issue):
How we link to `<atomic>`s ? I can't find an implementation of stl for avr's on the internet and I hoped you had some insight
Thanks again

[2021-09-09 12:40] ladislas commented on #257
it's a system header, so if it's available your code will compile, and if not it will tell you so.

If available `std::atomic` will need `-std=c++11`

Here are some interesting reads:

- https://www.nongnu.org/avr-libc/user-manual/group__util__atomic.html
- https://www.avrfreaks.net/forum/atomic-oo-way-0

[2021-09-10 05:52] SpyrosMourelatos commented on #257
Yeah I know about the flag, unfortunately it is not available.
![image](https://user-images.githubusercontent.com/26333139/132806201-926e1884-198e-45b2-840e-f49e6db47746.png)
Do you plan on building a recipe with P0829 freestanding proposal? Can I see somewhere the flags with which you compiled gcc, and maybe help on linking more of the stl?

[2021-09-10 10:40] ladislas commented on #257
We only provide support for avr-libc, wich is a subset of the C standard library.

https://www.nongnu.org/avr-libc/

C++ syntax does work but the STL is not available as is.

Alternatives do exist:

- https://community.platformio.org/t/c-stl-on-an-avr-platform/10351
- https://github.com/andysworkshop/avr-stl
- https://github.com/PhantomEmbedded/avr-stl
- https://www.etlcpp.com/ - my favorite

[2021-09-10 10:45] ladislas commented on #257
No, but I'm happy to look at a PR if needed.

Here: https://github.com/osx-cross/homebrew-avr/blob/master/Formula/avr-gcc%4010.rb

[2021-09-10 10:49] ladislas commented on #257
And also here: https://www.arduino.cc/reference/en/libraries/arduinostl/

[2021-09-13 06:50] SpyrosMourelatos commented on #257
Thank for the feedback @ladislas , I am aware of the alternatives though nothing is good enough as my final goal is to use some libraries written for c++17 that use P0829 freestanding stdlibc++ from arm-none-eabi-g++. So it is not that I just want the atomic behaviour I need the exact same api. I was hoping to find something as good as arm-none-eabi-g++ on avr but now I know that there are many te

[2021-09-13 07:07] ladislas commented on #257
We could make this optional with a patch.
Of even a stand-alone formulae if it gains traction.

[2021-10-05 15:09] ladislas commented on #221
closing as won't fix for the moment. Feel free to reopen #235 in the future if needed.

[2021-10-05 15:09] #221 closed, assigned to nobody

[2021-10-05 15:11] ladislas commented on #257
@SpyrosMourelatos did you manage to find a solution for your issue?

I'll close for now, feel free to reopen in the future if needed.

[2021-10-05 15:11] #257 closed, assigned to nobody

[2021-10-05 15:12] ladislas commented on #251
Does someone want to take over #255 and the patch?

[2021-10-05 15:13] ladislas commented on #236
I'll close this issue for now, feel free to open PR to add new MCUs if needed, I'll happily review them.

[2021-10-05 15:13] #236 closed, assigned to nobody

[2021-10-05 15:15] ladislas commented on #230
@liyang I'll close the issue for now, feel free to reopen if needed.

[2021-10-05 15:15] #230 closed, assigned to nobody

[2021-10-05 15:31] danapplegate commented on #251
@ladislas Sure thing, here you go: #259

[2021-10-07 19:36] ladislas commented on #251
This should now be fixed thanks to @danapplegate!

I'll close the issue now.

Feel free to open a new one if needed.

[2021-10-07 19:36] #251 closed, assigned to nobody

[2021-10-24 09:15] bartekpacia commented on #236
@Feuerwerk what happened to it? 😬

It's Hacktoberfest so I think I could try to do this:)

[2021-10-27 07:11] leElvyn opened #261 "cc1: internal compiler error: Illegal instruction: 4"
## Hardware :
MacBook, aluminum late 2008
Macos 10.15.7 (19H2)
## avr brew version :
osx-cross/avr/avr-gcc@9: stable 9.3.0 (bottled), HEAD

I am trying to compile one of my project (https://github.com/leElvyn/auto-smash/tree/main/firmware) from my macos computer. Usually, i am using my main computer to do that, a windows PC with WSL ubuntu, and it is working perfectly, but when using my macos comp

[2021-10-27 11:04] ladislas commented on #261
I can't compile your project as modules are missing and the commands in the readme don't work for me.

Can you try a simple program?
Are you up to date with Xcode and the command line tools?

[2021-10-27 15:28] leElvyn commented on #261
Yeah, sorry, LUFA is required to build this : http://www.fourwalledcubicle.com/LUFA.php (downloads can be found here)
I tried this minimal program : https://www.cs.colby.edu/maxwell/courses/tutorials/maketutor/ (i took the first one i could find)
And it compiled an ran without any problems

How can i check if CLI tools and xcode are up to date ?

[2021-12-17 00:27] dr-igor commented on #220
https://github.com/osx-cross/homebrew-avr/pull/248

If I'm reading this correctly, avr-gcc added support for M1 in June, and avr-gcc@11 is out.

Edit: looks like [all avr versions have been patched](https://github.com/osx-cross/homebrew-avr/pull/249) and it installs now without any changes needed! Thanks @ladislas and @DavidEGrayson

[2022-02-05 13:28] bartekpacia opened #262 "Default `avr-gcc` version"
`brew install avr-gcc` by default installs `avr-gcc@9` Formula, but `avr-gcc@11` is the newest version. Why is that and will it be changed?

[2022-02-05 13:52] ladislas commented on #262
Last time I checked, Arduino was using GCC 7.3.0.

the default here is already 2 versions newer than what people expect from Arduino.

On such small and resource constrained systems, changing the compiler can have negative impact that would break otherwise working project.

GCC 9 has been out long enough for people feeling comfortable using it in embedded, that's why it is the default.

I'm not in

[2022-02-05 13:57] bartekpacia commented on #262
Sure, your answer makes sense. I just thought that I'd ask because I didn't find a similar issue :)

[2022-02-15 16:34] ladislas commented on #261
@leElvyn Were you able to fix your issue?

Closing for now, feel free to reopen if needed.

[2022-02-15 16:34] #261 closed, assigned to nobody

[2022-02-15 16:35] ladislas commented on #262
I'm closing for now, feel free to reopen in the future ;)

[2022-02-15 16:35] #262 closed, assigned to nobody

[2022-02-15 16:37] ladislas commented on #262
Ah, and another point of data regarding our discussion is the download stats:

https://tooomm.github.io/github-release-stats/?username=osx-cross&repository=homebrew-avr

[2022-03-01 01:28] vmnavarro94 opened #264 "avr-gcc@9 Cannot flash on macOS Monterrey"
Im trying to flash a .hex onto my corne keyboard and got this error

[code]

I search over the net and some people suggest to downgrade to avr-gcc@7 but when trying to install I get this:

[code]

I appreciate any help, thanks!

[2022-03-01 11:17] ladislas commented on #264
@fauxpark any idea?

[2022-03-01 11:25] ladislas commented on #264
@vmnavarro94 regarding avr-gcc@7, it was removed in 7f3b60200a5981e6bd6f25aa950f064d419d7cdd

If you need it back, you can open a PR adding the formula back, see: https://github.com/osx-cross/homebrew-avr/blob/372486e66c955ec6ab029836cc792a8930dada64/Formula/avr-gcc%407.rb

[2022-03-01 11:28] fauxpark commented on #264
Nothing to do with avr-gcc or osx-cross. My guess would be something code-related causing the binary to overflow available space (last flash address on 32U4 is `0x7FFF`).
Please file an issue at https://github.com/qmk/qmk_firmware.

[2022-05-05 22:44] johnmee opened #265 "Dutifully reporting error I have no understanding of"
Just doing a routine `brew upgrade` and the fact that it suggests "if reporting this issue...":

[code]

Ubuntu 21.10

[2022-05-06 06:22] ladislas commented on #265
We do not officially support Ubuntu. I don't have access to a machine right now so I can't really help.

[2022-05-06 09:08] johnmee commented on #265
Blame QMK...
https://docs.qmk.fm/#/cli?id=install-using-homebrew
Even if they do say "some linux"

Thx... loving your diligence.

[2022-05-06 09:08] #265 closed, assigned to nobody

[2022-05-06 09:25] #264 closed, assigned to nobody

[2022-05-21 13:25] lukeadair opened #266 "Support for newer MCUs"
The version of avr-libc (2.0.0) that is currently used does not support newer MCUs like the attiny1616, but they recently released 2.1.0 that does support them.

Please consider updating this to use the latest version found here:
https://github.com/avrdudes/avr-libc/blob/main/NEWS

[2022-05-21 13:46] ladislas commented on #266
Ah! thanks for letting me know, let's see if it works :) https://github.com/osx-cross/homebrew-avr/pull/267

[2022-05-21 13:50] ladislas opened #268 "Push avr168pb patch to avr-libc"
@Feuerwerk avr-libc now has a new github repo, I think you could push your patch there!

[2022-05-21 14:24] lukeadair commented on #266
Awesome! That was fast. Looks like it failed though.

[2022-05-23 03:52] fauxpark opened #270 "Catalina bottles not being built"
`macos-latest` has been updated to macOS 11 (https://github.com/actions/virtual-environments/pull/4048). As a result, only the Big Sur bottle for avr-binutils 2.38 was built.

[2022-05-24 08:09] Feuerwerk commented on #268
Hi @ladislas
Thanks for the info, i will have a look and will post here if i have some news.

[2022-05-28 10:48] fauxpark commented on #270
Hi @ladislas, any update on this? Sorry to bother.

[2022-05-28 13:02] ladislas commented on #270
I'm afraid there's nothing I/we can do about that.
Unless you have a machine still running Catalina that you want to setup for CI, Catalina users will need to build the packages from source.

That being said, Big Sur is compatible with "very old" computers (see https://support.apple.com/en-us/HT211238) and Catalina is not supported anymore even for security fixes. I would encourage users to upgrad

[2022-05-28 13:04] ladislas commented on #270
Wait, it seems that Catalina is still available! (?)

https://github.com/actions/virtual-environments

[2022-05-28 13:05] fauxpark commented on #270
Yes, that's what I was about to post. They've only changed `macos-latest` to point to Big Sur; Catalina hasn't been dropped (yet).

[2022-05-28 13:13] #270 closed, assigned to nobody

[2022-05-28 13:13] ladislas commented on #270
fixed.

[2022-05-28 13:13] fauxpark commented on #270
Thanks!

[2022-05-29 11:47] ladislas commented on #266
@lukeadair I've tried with gcc@9 & gcc@10 with no success. I don't have time to investigate locally.

If you can give it a try and report any findings, it would be greatly appreciated.

[2022-06-12 12:04] ladislas commented on #266
This has been fixed thanks to @fauxpark

see #267 & #274

[2022-06-12 12:04] #266 closed, assigned to nobody

[2022-06-15 14:59] laris opened #277 "macOS 13"
[code]

[2022-06-15 18:12] ladislas commented on #277
well the answer is written in your message:

[2022-06-15 18:12] #277 closed, assigned to nobody

[2022-07-07 08:47] Hid-K commented on #205
I had the same issue. Brew cleanup showed this:
[code]
and this:
[code]

# For me solution was:
[code]

[2022-07-09 15:23] futuun commented on #277
I just got this (macos 13, xcode 14 with CLI tools installed), and for me `makeinfo` was missing (you can get more details from running brew commands with `-vd`).
Installing `texinfo` and adding `depends_on "texinfo" => :build` to formula (can be done with `brew edit avr-binutils`) makes it work.

[2022-07-09 20:17] ladislas commented on #277
As said before, and as main homebrew does, we do not support pre-release versions.

I'm open to a PR to look at what CI says but we will not merge until Ventura is officially released.

[2022-07-22 02:48] alexisvl opened #280 "avr-gcc@11 fails to build"
avr-gcc@11 fails to build:

[code]

[02.make](https://github.com/osx-cross/homebrew-avr/files/9164102/02.make.txt)

Full command output:

[error.txt](https://github.com/osx-cross/homebrew-avr/files/9164098/error.txt)

macOS 12.5

clang 13.1.6

Let me know what else I can provide here - I'm pretty new to homebrew

[2022-08-18 06:01] 45gfg9 commented on #280
Same problem on a M1 Max MacBook.
[code]
Same version macOS and clang.
[code]

[2022-09-12 21:02] luqasz commented on #280
Same here.

[2022-09-12 21:21] luqasz commented on #268
@ladislas searching github for `avr-libc` returns multiple results. Which repo you refer to ?

[2022-09-13 07:34] ladislas commented on #268
here: https://github.com/avrdudes/avr-libc

[2022-10-08 19:16] jmechnich commented on #280
I was able to fix it for me by applying this patch: https://gist.github.com/jmechnich/5a31cf9c2ae8336109f48abd3e5488a0

You can `brew edit avr-gcc@11` and add the following to the formula locally:
[code]

Not really sure how / where I could submit this...

[2022-10-23 22:54] Metamogul opened #281 "Error installing in MacOS 12.6"
When trying to install, I'm prompted with the following result:

[code]
It seems `python3` is not present at the given path; however, `python3.9` is. As a temporary workaround I've just created a symlink via `ln -s /opt/homebrew/opt/python@3.9/bin/python3.9 /opt/homebrew/opt/python@3.9/bin/python3` to make this build anyway. A fix is underway.

[2022-10-25 20:48] #281 closed, assigned to nobody

[2022-11-14 11:02] hraftery opened #284 "avr-gdb fails to build on Ventura due to missing makeinfo"
It seems a [decade old perennial bug](https://sourceware.org/bugzilla/show_bug.cgi?id=14678) with `gdb` and `makeinfo` applies to `avr-gdb-10.1`, since I faced the build failure specified in the bug report when doing `brew install avr-gdb` on Ventura.

After some investigation, I've discovered that `makeinfo` used to ship with macOS (version 4.8 is at `/usr/bin/makeinfo` on Big Sur), and building

[2022-11-20 21:38] #284 closed, assigned to nobody